.padding-left{
  padding-left: 48px;
}
.w-h-fix{
  width: 45px;
  height: 46px;
}
rect:nth-child(1n+2){
  fill: #0db685 !important;
}
circle{
  fill: #0db685 !important;
}
path{
  fill: #0db685 !important;
}
svg {
  width: 24px;
  height: 24px;
}
header {
  width: 100%;
  height: 58px;
  padding: 5px 0px;
  // background-color: #ffffff;
  // box-shadow: 0px 1px 6px #00000038;
}
.set-profile-icon{
  position: absolute;
    right: 48px;
}
:host::ng-deep.autocomplete-container .input-container input{
  height: 38px !important;
  background-color:#eef3f8 !important;
  padding: 0px !important;
  border-radius: 0px 5px 5px 0px;
  border: none !important;
}
.bg-search{
  background-color:#eef3f8;
}
.profile-header{
border-radius: 50%;
width: 40px;
height: 40px;
}
.btn.focus, .btn:focus{
box-shadow: none;
}
.bd-highlight{
  color: black;
  cursor: pointer;
  i{
      font-size: 23px;
  }
  a{
      font-size: 12px;
      color: black;
  }
}

.bd-divider{
  width: 100%;
  height: 1px;
  margin: 9px 1px;
  margin: -5px 0 5px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #0db685;
}
.wid{
  width: -webkit-fill-available;
}
.bg-header{
  background-color: white;
  box-shadow: 0px 1px 6px #00000038;
}
header > .logo {
  // width: 50%;
  float: left;
  color: #0088E2;
  // padding: 0 20px;
  letter-spacing: 0px;
  color: #0088E2;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
// .logo span{
//     align-self: flex-start;
//   }
.logo-img{
  // width: 50px;
  height: 50px;
}
header > nav {
  float: right;
}

header > nav > div {
  float: left;
  height: 100%;
  position: relative;
  padding: 0 15px;
}

header > nav > div > a {
  text-align: center;
  width: 100%;
  height: 100%;
  display: block;
  line-height: 50px;
  padding: 0 20px;
  color: #656565;
  transition: background-color 0.2s ease;
  text-transform: uppercase;
}
a:hover{
text-decoration: none !important;
}
header > nav > .shawdo:hover{
  background-color: #d8f8f2;
  border-radius: 5px;
  cursor: pointer;
  color: #000000;
}

// header > nav > div > div {
//     display: none;
//     overflow: hidden;
//     background-color: white;
//     min-width: 200%;
//     position: absolute;
//     box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
//     padding: 10px;
// }

header > nav > div:not(:first-of-type):not(:last-of-type) > div {
  left: -50%;
  border-radius: 0 0 3px 3px;
}

header > nav > div:first-of-type > div {
  left: 0;
  border-radius: 0 0 3px 0;
}

header > nav > div:last-of-type > div {
  right: 0;
  border-radius: 0 0 0 3px;
  // min-width: 400%;
}

header > nav > div:hover > div {
  display: block;
  z-index: 1;
}

header > nav > div > div > a {
  display: block;
  float: left;
  padding: 8px 10px;
  width: 46%;
  margin: 2%;
  text-align: center;
  background-color: #f44355;
  color: #fbfbfb;
  border-radius: 2px;
 
  transition: background-color 0.2s ease;
}

header > nav > div > div > a:hover {
  background-color: #212121;
  cursor: pointer;
}

header .material-icons {
  display: none;
}

h1 {
  margin-top: 100px;
  font-weight: 100;
}

p {
  color: #aaa;
  font-weight: 300;
}

@media (max-width:600px) {
  header > nav > div > div > a {
          margin: 5px 0;
          width: 100%;
  }
  header > nav > div > a > span {
          display: none;
  }
}

@media (min-width: 0px) and (max-width: 991px) {
  header > nav {
          overflow-y: scroll;
          background-color: white;
          position: fixed;
          top: 0;
          right: -300px;
          width: 282px;
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          height: 100%;
          transition: right 0.3s ease;
          z-index: 16;
  }
  header > nav > div {
          height: initial;
          float: none;
          position: relative;
  }
  header > nav > div > a {
          color: #212121;
          text-align: center;
  }
  // header > nav > div > div {
  //         display: block;
  //         position: static;
  //         min-width: 100% !important;
  //         float: none;
  //         box-shadow: none;
  //         padding: 0;
  //         margin: 0;
  //         border-radius: 1px !important;
  // }
  header > nav > div > div > a {
          float: none;
          width: 100%;
          margin: 0;
          text-align: right;
          border-radius: 1px;
          padding: 8px 20px;
          background-color: #eee;
          color: #777;
  }
  header > nav > div > div > a:hover {
          background-color: #ccc;
  }
  header .material-icons {
          display: block;
          color: #000000;
          line-height: 50px;
          float: right;
          font-size: 32px;
          // padding: 0 15px;
          transition: background-color 0.2s ease;
  }
  header .material-icons:hover {
          background-color: rgba(0, 0, 0, 0.1);
          cursor: pointer;
  }

  header .material-icons:hover + nav,
  nav:hover {
          right: 0;
         
  }
  header .black {
          transition: background-color 0.3s ease;
  }
  header .material-icons:hover ~ .black,
  nav:hover ~ .black {
          width: 100%;
          height: 100%;
          position: fixed;
          // background-color: rgba(0, 0, 0, 0.2);
          // z-index: 1;
          pointer-events: none;
  }
}


// 

*::after,
*::before {
margin: 0;
padding: 0;
box-sizing: border-box
}
// html,
// body {
//   height: calc(100% + 1px)
// }
// body {
//   font: 100% 'Arimo', sans-serif;
// }
.filter-wrapper,
.keyword-wrapper {
display: flex;
justify-content: center;
}
.filter-wrapper {
min-height: 100%;
flex-flow: column wrap;;
position: relative
}
.keyword-wrapper {
width: 100%;
position: relative;
}
#keyword {
border: 1px solid #ccc;
padding: 10px;
font: 1.5em 'Arimo', sans-serif;
width: 50%;
outline: none;
transition: border 0.5s ease-in-out
}
#keyword:focus {
border-color : rgba(81, 203, 238, 1);;
}
#keyword-button {
position: absolute;
right: 26%;
top: 50%;
transform: translateY(-50%);
font-size: 1.7em;
color: #8DB9ED
}
#keyword-button:hover {
color: #ccc
}
.filter-select {
width: 50%;
list-style: none;
font-size: 1.1em;
color: rgb(105, 105, 105);
border: 1px solid #ccc;
border-top: none;
/*so things don't jump around*/
position: absolute;
left: 25%;
top: calc(50% + 25px);
max-height: calc(50% - 15px);
overflow-y: auto;
background: #fff
}
.filter-select-list img {
margin-right: 30px;
}
.tags {
font-size: 12px;
font-style: italic;
color: #c6c6c6;
margin-right: 10px;
position: relative;
top: -10px;
}
.filter-select-list:hover .tags {
color: #fff;
}
.filter-select-list {
cursor: pointer;
padding: 5px 10px;
}
.artist-name {
display: inline-block;
position: absolute;
}
.filter-select-list:hover {
background:  #C0C0C0;
color: #fff
}
.list-highlight,
.list-highlight:hover {
background: rgb(55, 55, 55);
color: #fff
}
@media only screen and (max-width: 768px) {
.filter-select,
#keyword {
  width: 80%;
}
#keyword {
  font-size: 1.3em
}
.filter-select {
  font-size: 0.9em;
  left: 10%;
  top: calc(50% + 23px);
}
#keyword-button {
  right: 11%
}
}
@media only screen and (max-width: 480px) {
.filter-select,
#keyword {
  width: 95%;
}
.filter-select {
  left: 2.5%;
}
#keyword-button {
  right: 3.5%
}
}

// .offset {
//   margin-top: 0;
//   padding-top: 270px;
//   text-align: center;
//   transition: .3s;
//   height: 1500px;
// }

// .header {
//   position: fixed;
//   width: 100%;
//   z-index: 1;
//   // height: 250px;
//   // font-weight: bold;
//   // text-align: center;
//   // background: gold;
//   // transition: .3s;
// }
// .header.small {
//   height: 70px;
//   box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
// }
// .header.small ~ .offset {
//   padding-top: 140px;
// }
// .header.small .header_logo {
//   padding-top: 20px;
//   font-size: 20px;
//   text-shadow: none;
// }

// .header_logo {
//   font-family: 'Oswald', sans-serif;
//   margin: 0;
//   padding-top: 80px;
//   font-size: 50px;
//   text-shadow: 3px 4px rgba(0, 0, 0, 0.1);
//   transition: .3s;
// }
