<div class="bg-header header" style="position: fixed;width: 100%;z-index: 1;top: 0;">
    <div class="container">
        <header>
            <div class="logo">
                <span class="mr-3">
                    <img src="../../assets/profile.png" alt="" class="logo-img pointer">
                </span>
                <div class="input-group">
                    <span class="input-group-append" style="width: 0px;">
                        <button class="btn rounded-left bg-search border-0 ms-n5" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                    <div class="ng-autocomplete pl-5">
                        <ng-autocomplete [data]="data" [searchKeyword]="keyword" placeholder="Search"
                            class="form-control border-0 bg-search p-0 rounded-right" (selected)='selectEvent($event)'
                            (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)'
                            [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate">
                        </ng-autocomplete>

                        <ng-template #itemTemplate let-item>


                            <div class="d-flex justify-content-start p-2">
                                <div>
                                    <img src="{{item.image}}" class="search-profile">
                                </div>
                                <div>
                                    <a [innerHTML]="item.name" class="p-2"></a>
                                </div>
                            </div>
                        </ng-template>

                        <ng-template #notFoundTemplate let-notFound>
                            <div [innerHTML]="notFound"></div>
                        </ng-template>
                    </div>
                </div>
            </div>
            <i class="material-icons"> <i class="fas fa-bars text-white"></i></i>
            <nav class="font-22-bold header-side-menu">
                <div>
                    <div class="d-flex flex-column bd-highlight">
                        <div class="bd-highlight mx-auto hide-small"><i class="fa fa-home"></i></div>
                        <div class="bd-highlight mx-auto"><a class="font-small">Home</a></div>
                    </div>
                </div>
                <div>
                    <div class="d-flex flex-column bd-highlight">
                        <div class="bd-highlight mx-auto hide-small"><i class="fa fa-users"></i></div>
                        <div class="bd-highlight mx-auto"><a class="font-small">My Network</a></div>
                    </div>
                </div>
                <div>
                    <div class="d-flex flex-column bd-highlight">
                        <div class="bd-highlight mx-auto hide-small"><i class="fa fa-briefcase"></i></div>
                        <div class="bd-highlight mx-auto"><a class="font-small">Jobs</a></div>
                    </div>
                </div>
                <div>
                    <div class="d-flex flex-column bd-highlight">
                        <div class="bd-highlight mx-auto hide-small"><i class="fa fa-commenting"></i></div>
                        <div class="bd-highlight mx-auto"><a class="font-small">Message</a></div>
                    </div>
                </div>
                <div>
                    <div class="d-flex flex-column bd-highlight">
                        <div class="bd-highlight mx-auto hide-small"><i class="fa fa-bell"></i></div>
                        <div class="bd-highlight mx-auto"><a class="font-small">Notification</a></div>
                    </div>
                </div>
            </nav>
            <div class="black"></div>
        </header>
    </div>
</div>

<!-- footer fix for small screen -->
<div class="navbar bg-drak-blue fix-bottom hide-big">
    <a >
        <div class="d-flex flex-column bd-highlight">
            <div class="bd-highlight mx-auto"><i class="fa fa-home"></i></div>
            <div class="bd-highlight mx-auto"><a class="font-small">Home</a></div>
        </div>
    </a>
    <a >
        <div class="d-flex flex-column bd-highlight">
            <div class="bd-highlight mx-auto"><i class="fa fa-users"></i></div>
            <div class="bd-highlight mx-auto"><a class="font-small">My Network</a></div>
        </div>
    </a>
    <a >
        <div class="d-flex flex-column bd-highlight">
            <div class="bd-highlight mx-auto"><i class="fa fa-briefcase"></i></div>
            <div class="bd-highlight mx-auto"><a class="font-small">Jobs</a></div>
        </div>
    </a>
    <a >
        <div class="d-flex flex-column bd-highlight">
            <div class="bd-highlight mx-auto"><i class="fa fa-commenting"></i></div>
            <div class="bd-highlight mx-auto"><a class="font-small">Message</a></div>
        </div>
    </a>
    <a >
        <div class="d-flex flex-column bd-highlight">
            <div class="bd-highlight mx-auto"><i class="fa fa-bell"></i></div>
            <div class="bd-highlight mx-auto"><a class="font-small">Notification</a></div>
        </div>
    </a>
    <!-- <a >
        <div ngbDropdown placement="top-right" class="d-flex flex-column bd-highlight">
            <div class="bd-highlight mx-auto" id="gfg" ngbDropdownToggle><i class="fa fa-ellipsis-v mx-3"></i></div>
            <div class="bd-highlight mx-auto"><a class="font-small">More</a></div>
            <div ngbDropdownMenu="gfg" class="set-postion">
                <button ngbDropdownItem>Lists</button>
                <button ngbDropdownItem>Profile</button>
            </div>
        </div>
    </a> -->
</div>
<!-- footer fix for small screen -->
