<!-- footer side menu -->
<div class="navbar fix-bottom hide-big">
    <a >
        <div class="d-flex flex-column bd-highlight">
            <div class="bd-highlight mx-auto"><i class="bx bx-home"></i></div>
            <div class="bd-highlight mx-auto"><a>Event</a></div>
        </div>
    </a>
    <a >
        <div class="d-flex flex-column bd-highlight">
            <div class="bd-highlight mx-auto"><i class="bx bx-microchip"></i></div>
            <div class="bd-highlight mx-auto"><a>My Explore</a></div>
        </div>
    </a>
    <a >
        <div class="d-flex flex-column bd-highlight">
            <div class="bd-highlight mx-auto"><i class="bx bx-bell"></i></div>
            <div class="bd-highlight mx-auto"><a>Notification</a></div>
        </div>
    </a>
    <a >
        <div class="d-flex flex-column bd-highlight">
            <div class="bd-highlight mx-auto"><i class="bx bx-comments"></i></div>
            <div class="bd-highlight mx-auto"><a>Message</a></div>
        </div>
    </a>
    <a >
        <div class="d-flex flex-column bd-highlight">
            <div class="bd-highlight mx-auto"><i class="bx bx-book"></i></div>
            <div class="bd-highlight mx-auto"><a>Bookmarks</a></div>
        </div>
    </a>
    <!-- <a >
        <div ngbDropdown placement="top-right" class="d-flex flex-column bd-highlight">
            <div class="bd-highlight mx-auto" id="gfg" ngbDropdownToggle><i class="bx bx-ellipsis-v mx-3"></i></div>
            <div class="bd-highlight mx-auto"><a>More</a></div>
            <div ngbDropdownMenu="gfg" class="set-postion">
                <button ngbDropdownItem>Lists</button>
                <button ngbDropdownItem>Profile</button>
            </div>
        </div>
    </a> -->
</div>