<div *ngIf="isAdmin()">
        <h3 class="font-18 my-3">Add Members:</h3>
        <div class="input-group">
                <span class="input-group-append" style="width: 0px;" [class.fixed-search]="navFixed">
                        <button class="btn rounded-left bg-search border-0 ms-n5" type="button">
                                <span class="svg-icon svg-icon-primary svg-icon-2x">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                                width="16px" height="16px" viewBox="0 0 24 24" version="1.1">
                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                        <rect x="0" y="0" width="24" height="24" />
                                                        <path d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z"
                                                                fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                                        <path d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z"
                                                                fill="#000000" fill-rule="nonzero" />
                                                </g>
                                        </svg>
                                </span>
                        </button>
                </span>
                <!--
                <div class="ng-autocomplete padding-left">
                        <ng-autocomplete [data]="data" [searchKeyword]="keyword" placeholder="Select" [class.fixed-search]="navFixed"
                                class="set-search-position form-control border-0 bg-search p-0 rounded-right"
                                (selected)='selectEvent($event)' (inputChanged)='onChangeSearch($event)'
                                (inputFocused)='onFocused($event)' [itemTemplate]="itemTemplate"
                                [notFoundTemplate]="notFoundTemplate">
                        </ng-autocomplete>

                        <ng-template #itemTemplate let-item class="sss" >
                                <div class="d-flex justify-content-start p-2" [class.fixed-search]="navFixed">
                                        <div>
                                                <img src="{{item.image}}" class="search-profile">
                                        </div>
                                        <div>
                                                <a [innerHTML]="item.name" class="p-2"></a>
                                        </div>
                                </div>
                        </ng-template>

                        <ng-template #notFoundTemplate let-notFound>
                                <div [innerHTML]="notFound"></div>
                        </ng-template>
                </div>
                -->
                <app-global-search class="wid" placeholder="Search Legislator, Person, District, Party..." from="commonSearch" (valueSelect)='selectEvent($event)' category="all"></app-global-search>

        </div>
</div>
<div class="container">
        <div class="row mt-3">
                <div class="col-md-6 set-pos p-2 mt-5" *ngFor="let item of selectArray;let i=index">
                        <div class="text-center card-profile m-0 p-3 wave-li-firogi">
                                <div class="" style="margin-top: -70px;">
                                        <img src="{{item.image}}" alt="" class="img"
                                                style="border-radius: 50%; border: 3px solid #cceef2;">
                                </div>
                                <div class="py-2">
                                        <div class="font-20">{{item.name}}</div>
                                        <div class="font-14 color-grew hover pointer"> abc@gmail.com </div>
                                        <span class="font-14"><strong>129</strong> Followers</span> &nbsp;
                                        <span class="font-14"><strong>239</strong> Following</span>
                                </div>
                                <div class="btn button-blue font-14 my-2" (click)="remove(i)">
                                        <i class="fa fa-trash pointer text-success"></i> &nbsp; Remove
                                </div>
                        </div>
                        <div class="star-tag" style="background-color: #1BC5BD!important;">
                                <i class="fa fa-star text-white pointer"></i>
                        </div>
                </div>
        </div>
</div>