<section class="my-4 margin-remove">
  <div class="bg-imge-search">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 mt-3 banner-text">
          <h5 class="text-green"> Find Your Representatives</h5>
          <div class="set-search" style="border-radius: 15px;">
            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-7 col-sm-12 set-full">
                <div class="form-group">
                  <div class="input-with-icon" style="box-shadow: 0px 1px 6px #00000038;    border-radius: 15px;">
                    <app-g-address-search (setAddress)="getAddress($event)" adressType="geocode">
                    </app-g-address-search>
                  </div>
                </div>
              </div>
              <div class="col-md-1 small-padd" [ngClass]="{'hideSearchBtn': !isDevMode()}">
                <div class="form-group">
                  <div class="form-group">
                    <button #loadData type="button" class="btn btn-primary" (click)="loadCongressData()"><i
                        class="fa fa-search"></i></button>
                  </div>
                </div>
              </div>
              <div class="col-md-2"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container ">
  <!-- <div class="row legisBoundary" style="margin-top: 20px;">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      Find Representatives:
    </div>

    <div class="address col-lg-9 col-md-9 col-sm-9 col-xs-9">
      <app-g-address-search (setAddress)="getAddress($event)" adressType="geocode"></app-g-address-search>
    </div>

    <div class="col-xs-3">
      <button type="button" class="" (click)="loadCongressData()"
        [ngClass]="{ 'btn-legis btn-legis-select': congressData, 'btn-legis btn-secondary': !congressData  }">Find</button>
    </div>
  </div> -->
  <div *ngIf="searchAddress && !registration">
    <div class="locationText font-18">
      Data based on the location <span class="text-green">{{searchAddress}}</span>
    </div>
  </div>

  <div style="margin-top:5px" *ngIf="divisions && divisions.length > 0">

    <div class="sub-title sub-title-size">
      <!-- <ngb-alert type="primary" [dismissible]="false"> -->
      <h3 class="font-18 text-green"># Division :</h3>
      <!-- </ngb-alert> -->
    </div>
    <div class="row" style="margin-left:1px">
      <span class="filterPill"><button class="btn button-color font-14"
          [ngClass]="{'active': selectedDivision == division}" (click)="selectDivision(division);"
          *ngFor="let division of divisions">
          {{ division }}
        </button></span>
    </div>
  </div>

  <div style="margin-top:5px" *ngIf="divisionOffices && divisionOffices.length > 0">
    <div class="sub-title sub-title-size">
      <!-- <ngb-alert type="primary" [dismissible]="false"> -->
      <h3 class="font-18 text-green"># Role :</h3>
      <!-- </ngb-alert> -->
    </div>
    <div class="row" style="margin-left:1px">
      <span class="filterPill"><button class="btn button-color font-14"
          [ngClass]="{'active': selectedDivisionOffice == divisionOffice}"
          (click)="selectDivisionOffice(divisionOffice);" *ngFor="let divisionOffice of divisionOffices">
          {{ divisionOffice }}
        </button></span>
    </div>
  </div>
  <div class="container">

    <div class="row">
      <div class="col-lg-4 p-2 mt-5" *ngFor="let legislator of legislators">
        <app-legislator [legislator]=legislator></app-legislator>
      </div>
      <div *ngIf="divisionOffices && divisionOffices.length === 0">
        <ngb-alert type="primary" [dismissible]="false">
          Relevant data not available, you can contribute by adding data here.
        </ngb-alert>

        <button (click)="openDialog()" class="btn btn-md btn-secondary btn-custom-horizondal fa fa-plus" type="button">
          Add Data
        </button>
      </div>
    </div>
  </div>

</div>

<!-- <div *ngIf="legislators.length"> -->
<!-- First -->
<!-- <div class="container">
  <div class="row">
    <div class="col-md-4 p-2">
      <div class="row  card-profile m-0 p-3">
        <div class="col-4">
          <img src="../../../assets/profile.png" alt="" class="img">
        </div>
        <div class="col-8">
          <div class="font-20">Robert P. Casey Jr.</div>
          <div class="font-14"> <a class="pointer color-grew"> U.S. Senator </a></div>
          <div class="font-14"> <a class="pointer color-grew"> Pennsylvania </a></div>
          <div class="font-14"> <a class="pointer color-grew"> Democratic Party </a></div>
          <div class="btn button-blue font-14 my-2">
            View profile
          </div>
        </div>
      </div>
      <div class="star-tag">
        <i class="fa fa-star text-white pointer"></i>
      </div>
    </div>
    <div class="col-md-4 p-2">
      <div class="row  card-profile m-0 p-3">
        <div class="col-4">
          <img src="../../../assets/images/userprofile.jpg" alt="" class="img">
        </div>
        <div class="col-8">
          <div class="font-20">Robert P. Casey Jr.</div>
          <div class="font-14"> <a class="pointer color-grew"> U.S. Senator </a></div>
          <div class="font-14"> <a class="pointer color-grew"> Pennsylvania </a></div>
          <div class="font-14"> <a class="pointer color-grew"> Democratic Party </a></div>
          <div class="btn button-blue font-14 my-2">
            View profile
          </div>
        </div>
      </div>
      <div class="star-tag">
        <i class="fa fa-star text-white pointer"></i>
      </div>
    </div>
    <div class="col-md-4 p-2">
      <div class="row  card-profile m-0 p-3">
        <div class="col-4">
          <img src="../../../assets/profile.png" alt="" class="img">
        </div>
        <div class="col-8">
          <div class="font-20">Robert P. Casey Jr.</div>
          <div class="font-14"> <a class="pointer color-grew"> U.S. Senator </a></div>
          <div class="font-14"> <a class="pointer color-grew"> Pennsylvania </a></div>
          <div class="font-14"> <a class="pointer color-grew"> Democratic Party </a></div>
          <div class="btn button-blue font-14 my-2">
            View profile
          </div>
        </div>
      </div>
      <div class="star-tag">
        <i class="fa fa-star text-white pointer"></i>
      </div>
    </div>
  </div>
</div> -->

<!-- second -->
<!-- <div class="container">
  <div class="row">
    <div class="col-md-4 p-2">
      <div class="row  card-profile m-0 p-3">
        <div class="col-5 wave-li-blue">
          <img src="../../../assets/profile.png" alt="" class="img" style="border-radius: 50%;">
        </div>
        <div class="col-7">
          <div class="font-20">Robert P. Casey Jr.</div>
          <div class="font-14"> <a class="pointer color-grew"> U.S. Senator </a></div>
          <div class="font-14"> <a class="pointer color-grew"> Pennsylvania </a></div>
          <div class="font-14"> <a class="pointer color-grew"> Democratic Party </a></div>
          <div class="btn button-blue font-14 my-2">
            View profile
          </div>
        </div>
      </div>
      <div class="star-tag">
        <i class="fa fa-star text-white pointer"></i>
      </div>
    </div>
    <div class="col-md-4 p-2">
      <div class="row  card-profile m-0 p-3">
        <div class="col-5 wave-li-firogi">
          <img src="../../../assets/images/avatar1.png" alt="" class="img" style="border-radius: 50%;">
        </div>
        <div class="col-7">
          <div class="font-20">Robert P. Casey Jr.</div>
          <div class="font-14"> <a class="pointer color-grew"> U.S. Senator </a></div>
          <div class="font-14"> <a class="pointer color-grew"> Pennsylvania </a></div>
          <div class="font-14"> <a class="pointer color-grew"> Democratic Party </a></div>
          <div class="btn button-blue font-14 my-2">
            View profile
          </div>
        </div>
      </div>
      <div class="star-tag">
        <i class="fa fa-star text-white pointer"></i>
      </div>
    </div>
    <div class="col-md-4 p-2">
      <div class="row  card-profile m-0 p-3">
        <div class="col-5 wave-li-yellow">
          <img src="../../../assets/images/userprofile.jpg" alt="" class="img" style="border-radius: 50%;">
        </div>
        <div class="col-7">
          <div class="font-20">Robert P. Casey Jr.</div>
          <div class="font-14"> <a class="pointer color-grew"> U.S. Senator </a></div>
          <div class="font-14"> <a class="pointer color-grew"> Pennsylvania </a></div>
          <div class="font-14"> <a class="pointer color-grew"> Democratic Party </a></div>
          <div class="btn button-blue font-14 my-2">
            View profile
          </div>
        </div>
      </div>
      <div class="star-tag">
        <i class="fa fa-star text-white pointer"></i>
      </div>
    </div>
  </div>
</div> -->
<!-- third -->
<!-- <div class="container mt-5">
  <div class="row">
    <div class="col-md-4 p-2">
      <div class="text-center card-profile m-0 p-3">
        <div class="" style="margin-top: -70px;">
          <img src="../../../assets/images/userprofile.jpg" alt="" class="img" style="border-radius: 50%; border: 3px solid #cceef2;">
        </div>
        <div class="py-2">
          <div class="font-20">Robert P. Casey Jr.</div>
          <div class="font-14"> <a class="pointer color-grew"> U.S. Senator </a></div>
          <div class="font-14"> <a class="pointer color-grew"> Pennsylvania </a></div>
          <div class="font-14"> <a class="pointer color-grew"> Democratic Party </a></div>
          <div class="btn button-blue font-14 my-2">
            View profile
          </div>
        </div>
      </div>
      <div class="star-tag">
        <i class="fa fa-star text-white pointer"></i>
      </div>
    </div>
    <div class="col-md-4 p-2">
      <div class="text-center card-profile m-0 p-3">
        <div class="" style="margin-top: -70px;">
          <img src="../../../assets/images/userprofile.jpg" alt="" class="img" style="border-radius: 50%; border: 3px solid #cceef2;">
        </div>
        <div class="py-2">
          <div class="font-20">Robert P. Casey Jr.</div>
          <div class="font-14"> <a class="pointer color-grew"> U.S. Senator </a></div>
          <div class="font-14"> <a class="pointer color-grew"> Pennsylvania </a></div>
          <div class="font-14"> <a class="pointer color-grew"> Democratic Party </a></div>
          <div class="btn button-blue font-14 my-2">
            View profile
          </div>
        </div>
      </div>
      <div class="star-tag">
        <i class="fa fa-star text-white pointer"></i>
      </div>
    </div>
    <div class="col-md-4 p-2">
      <div class="text-center card-profile m-0 p-3">
        <div class="" style="margin-top: -70px;">
          <img src="../../../assets/images/userprofile.jpg" alt="" class="img" style="border-radius: 50%; border: 3px solid #cceef2;">
        </div>
        <div class="py-2">
          <div class="font-20">Robert P. Casey Jr.</div>
          <div class="font-14"> <a class="pointer color-grew"> U.S. Senator </a></div>
          <div class="font-14"> <a class="pointer color-grew"> Pennsylvania </a></div>
          <div class="font-14"> <a class="pointer color-grew"> Democratic Party </a></div>
          <div class="btn button-blue font-14 my-2">
            View profile
          </div>
        </div>
      </div>
      <div class="star-tag">
        <i class="fa fa-star text-white pointer"></i>
      </div>
    </div>
  </div>
</div> -->
<!-- four -->
<!-- <div class="container ">
  <div class="row">
    <div class="col-md-4 p-2 mt-5">
      <div class="text-center card-profile m-0 p-3 wave-li-blue">
        <div class="" style="margin-top: -70px;">
          <img src="../../../assets/images/userprofile.jpg" alt="" class="img" style="border-radius: 50%; border: 3px solid #cceef2;">
        </div>
        <div class="py-2">
          <div class="font-20">Robert P. Casey Jr.</div>
          <div class="font-14"> <a class="pointer color-grew"> U.S. Senator </a></div>
          <div class="font-14"> <a class="pointer color-grew"> Pennsylvania </a></div>
          <div class="font-14"> <a class="pointer color-grew"> Democratic Party </a></div>
          <div class="btn button-blue font-14 my-2">
            View profile
          </div>
        </div>
      </div>
      <div class="star-tag" style="background-color: #3699FF!important;">
        <i class="fa fa-star text-white pointer"></i>
      </div>
    </div>
    <div class="col-md-4 p-2 mt-5">
      <div class="text-center card-profile m-0 p-3 wave-li-firogi">
        <div class="" style="margin-top: -70px;">
          <img src="../../../assets/images/userprofile.jpg" alt="" class="img" style="border-radius: 50%; border: 3px solid #cceef2;">
        </div>
        <div class="py-2">
          <div class="font-20">Robert P. Casey Jr.</div>
          <div class="font-14"> <a class="pointer color-grew"> U.S. Senator </a></div>
          <div class="font-14"> <a class="pointer color-grew"> Pennsylvania </a></div>
          <div class="font-14"> <a class="pointer color-grew"> Democratic Party </a></div>
          <div class="btn button-blue font-14 my-2">
            View profile
          </div>
        </div>
      </div>
      <div class="star-tag" style="background-color: #1BC5BD!important;">
        <i class="fa fa-star text-white pointer"></i>
      </div>
    </div>
    <div class="col-md-4 p-2 mt-5">
      <div class="text-center card-profile m-0 p-3 wave-li-yellow">
        <div class="" style="margin-top: -70px;">
          <img src="../../../assets/images/userprofile.jpg" alt="" class="img" style="border-radius: 50%; border: 3px solid #cceef2;">
        </div>
        <div class="py-2">
          <div class="font-20">Robert P. Casey Jr.</div>
          <div class="font-14"> <a class="pointer color-grew"> U.S. Senator </a></div>
          <div class="font-14"> <a class="pointer color-grew"> Pennsylvania </a></div>
          <div class="font-14"> <a class="pointer color-grew"> Democratic Party </a></div>
          <div class="btn button-blue font-14 my-2">
            View profile
          </div>
        </div>
      </div>
      <div class="star-tag" style="background-color: #FFA800!important;">
        <i class="fa fa-star text-white pointer"></i>
      </div>
    </div>
  </div>
</div> -->
<!-- five -->
<!-- <div class="container">
  <div class="row">
    <div class="col-md-4 p-2 mt-5">
      <div class="text-center card-profile m-0 p-3 wave-li-blues">
        <div class="" style="margin-top: -70px;">
          <img src="../../../assets/images/userprofile.jpg" alt="" class="img" style="border-radius: 50%; border: 3px solid #cceef2;">
        </div>
        <div class="py-2">
          <div class="font-20">Robert P. Casey Jr.</div>
          <div class="font-14"> <a class="pointer color-grew"> U.S. Senator </a></div>
          <div class="font-14"> <a class="pointer color-grew"> Pennsylvania </a></div>
          <div class="font-14"> <a class="pointer color-grew"> Democratic Party </a></div>
          <div class="btn button-blue font-14 my-2">
            View profile
          </div>
        </div>
      </div>
      <div class="star-tag" style="background-color: #3699FF!important;">
        <i class="fa fa-star text-white pointer"></i>
      </div>
    </div>
    <div class="col-md-4 p-2 mt-5">
      <div class="text-center card-profile m-0 p-3 wave-li-firogis">
        <div class="" style="margin-top: -70px;">
          <img src="../../../assets/images/userprofile.jpg" alt="" class="img" style="border-radius: 50%; border: 3px solid #cceef2;">
        </div>
        <div class="py-2">
          <div class="font-20">Robert P. Casey Jr.</div>
          <div class="font-14"> <a class="pointer color-grew"> U.S. Senator </a></div>
          <div class="font-14"> <a class="pointer color-grew"> Pennsylvania </a></div>
          <div class="font-14"> <a class="pointer color-grew"> Democratic Party </a></div>
          <div class="btn button-blue font-14 my-2">
            View profile
          </div>
        </div>
      </div>
      <div class="star-tag" style="background-color: #1BC5BD!important;">
        <i class="fa fa-star text-white pointer"></i>
      </div>
    </div>
    <div class="col-md-4 p-2 mt-5">
      <div class="text-center card-profile m-0 p-3 wave-li-yellows">
        <div class="" style="margin-top: -70px;">
          <img src="../../../assets/images/userprofile.jpg" alt="" class="img" style="border-radius: 50%; border: 3px solid #cceef2;">
        </div>
        <div class="py-2">
          <div class="font-20">Robert P. Casey Jr.</div>
          <div class="font-14"> <a class="pointer color-grew"> U.S. Senator </a></div>
          <div class="font-14"> <a class="pointer color-grew"> Pennsylvania </a></div>
          <div class="font-14"> <a class="pointer color-grew"> Democratic Party </a></div>
          <div class="btn button-blue font-14 my-2">
            View profile
          </div>
        </div>
      </div>
      <div class="star-tag" style="background-color: #FFA800!important;">
        <i class="fa fa-star text-white pointer"></i>
      </div>
    </div>
  </div>
</div> -->
<!-- six -->
<!-- <div class="container ">
  <div class="row">
    <div class="col-md-4 p-2 mt-5">
      <div class="text-center card-profile m-0 p-3 wave-li-blue" style="border-radius: 100% 0% 0% 0%;">
        <div class="" style="margin-top: -70px;">
          <img src="../../../assets/images/userprofile.jpg" alt="" class="img" style="border-radius: 50%; border: 3px solid #cceef2;">
        </div>
        <div class="py-2">
          <div class="font-20">Robert P. Casey Jr.</div>
          <div class="font-14"> <a class="pointer color-grew"> U.S. Senator </a></div>
          <div class="font-14"> <a class="pointer color-grew"> Pennsylvania </a></div>
          <div class="font-14"> <a class="pointer color-grew"> Democratic Party </a></div>
          <div class="btn button-blue font-14 my-2">
            View profile
          </div>
        </div>
      </div>
      <div class="star-tag" style="background-color: #3699FF!important;">
        <i class="fa fa-star text-white pointer"></i>
      </div>
    </div>
    <div class="col-md-4 p-2 mt-5">
      <div class="text-center card-profile m-0 p-3 wave-li-firogi" style="border-radius: 45% 0% 45% 0%;">
        <div class="" style="margin-top: -70px;">
          <img src="../../../assets/images/userprofile.jpg" alt="" class="img" style="border-radius: 50%; border: 3px solid #cceef2;">
        </div>
        <div class="py-2">
          <div class="font-20">Robert P. Casey Jr.</div>
          <div class="font-14"> <a class="pointer color-grew"> U.S. Senator </a></div>
          <div class="font-14"> <a class="pointer color-grew"> Pennsylvania </a></div>
          <div class="font-14"> <a class="pointer color-grew"> Democratic Party </a></div>
          <div class="btn button-blue font-14 my-2">
            View profile
          </div>
        </div>
      </div>
      <div class="star-tag" style="background-color: #1BC5BD!important;">
        <i class="fa fa-star text-white pointer"></i>
      </div>
    </div>
    <div class="col-md-4 p-2 mt-5">
      <div class="text-center card-profile m-0 p-3 wave-li-yellow" style="border-radius: 100% 100% 0% 0%;">
        <div class="" style="margin-top: -70px;">
          <img src="../../../assets/images/userprofile.jpg" alt="" class="img" style="border-radius: 50%; border: 3px solid #cceef2;">
        </div>
        <div class="py-2">
          <div class="font-20">Robert P. Casey Jr.</div>
          <div class="font-14"> <a class="pointer color-grew"> U.S. Senator </a></div>
          <div class="font-14"> <a class="pointer color-grew"> Pennsylvania </a></div>
          <div class="font-14"> <a class="pointer color-grew"> Democratic Party </a></div>
          <div class="btn button-blue font-14 my-2">
            View profile
          </div>
        </div>
      </div>
      <div class="star-tag" style="background-color: #FFA800!important;">
        <i class="fa fa-star text-white pointer"></i>
      </div>
    </div>
  </div>
</div>
</div> -->