<!--

Twitter handle {{twitterHandle}}
<div id="TwitterCollapse" *ngIf="twitterHandleExist">                                                
    <a class="twitter-timeline" href="{{twitterHandle}}">Tweets</a>
    
 </div>
-->

<!-- <div class="container">
    <br><br>
    <h1 class="text-center">Embed Twitter Timeline of Username</h1>
    <br>
    <div class="form-group container">
      <input
        class="form-control"
        type="text"
        #box
        (keyup)="getValue(box.value)"
        placeholder="Enter URL"
        name="url"
      />
    </div>
   
    <ngx-twitter-timeline
      [data]="data"
      [opts]="{ tweetLimit: 20 }"
    ></ngx-twitter-timeline>
  </div> -->

<a class="twitter-timeline" href="https://twitter.com/{{twitterHandle}}" data-chrome="nofooter noborders">
  Tweets by @{{twitterHandle}}
</a>
<!-- <a class="twitter-timeline" href="https://twitter.com/'+'{{twitterHandle}}'+'?ref_src=twsrc%5Etfw"></a> -->