<div class="border-radius bg-white">
    <div class="p-3">
        <div class="color-grew h6 pointer hover">Edit public profile & URL</div>
        <hr>
        <div class="color-grew h6 pointer hover">Add profile in another language</div>
    </div>
</div>
<div class="border-radius bg-white my-3">
    <div class="p-3">
        <h6>People Also Viewed</h6>
        <div class="mt-3">
            <div class="d-flex flex-column bd-highlight">
                <div class="bd-highlight">
                    <div class="d-flex align-items-start">
                        <div><img src="../../assets/profile.png" alt=""
                                class="profile-side border mr-2"></div>
                        <div class="font-w-bold font-14">jay haripriya .<span
                                class="color-grew font-w-normal">2nd</span>
                            <div class="color-grew font-w-normal font-12">CEO Js Developer</div>
                        </div>

                    </div>
                </div>
                <div class="bd-highlight ml-5"><button
                        class="btn button-grew m-0 font-w-bold font-14">Connect</button></div>
            </div>
        </div>
        <div class="mt-3">
            <div class="d-flex flex-column bd-highlight">
                <div class="bd-highlight">
                    <div class="d-flex align-items-start">
                        <div><img src="../../assets/profile.png" alt=""
                                class="profile-side border mr-2"></div>
                        <div class="font-w-bold font-14">jay haripriya .<span
                                class="color-grew font-w-normal">2nd</span>
                            <div class="color-grew font-w-normal font-12">CEO Js Developer</div>
                        </div>

                    </div>
                </div>
                <div class="bd-highlight ml-5"><button
                        class="btn button-grew m-0 font-w-bold font-14">Connect</button></div>
            </div>
        </div>
        <div class="mt-3">
            <div class="d-flex flex-column bd-highlight">
                <div class="bd-highlight">
                    <div class="d-flex align-items-start">
                        <div><img src="../../assets/profile.png" alt=""
                                class="profile-side border mr-2"></div>
                        <div class="font-w-bold font-14">jay haripriya .<span
                                class="color-grew font-w-normal">2nd</span>
                            <div class="color-grew font-w-normal font-12">CEO Js Developer</div>
                        </div>

                    </div>
                </div>
                <div class="bd-highlight ml-5"><button
                        class="btn button-grew m-0 font-w-bold font-14">Connect</button></div>
            </div>
        </div>
    </div>
</div>