<!-- side menu -->
<div class="border-radius bg-white hide-small">
    <nav class="navbar navbar-light p-0">
        <div class="navbar-brand w-100 m-0" [routerLink]="['/about']" routerLinkActive="active"> <i
                class="fa fa-home mx-3"></i> Activity</div>
        <div class="navbar-brand w-100 m-0" [routerLink]="['event']" routerLinkActive="active"> <i
                class="fa fa-microchip mx-3"></i> Twitter Feed</div>
        <div class="navbar-brand w-100 m-0" [routerLink]="['role']" routerLinkActive="active"> <i class="fa fa-bell mx-3"></i> Role</div>
        <div class="navbar-brand w-100 m-0"> <i class="fa fa-comments mx-3"></i> Setting</div>
    </nav>
</div>


