.bd-highlight {
  color: #536471;

  i {
    font-size: 24px;
  }

  a {
    font-size: 12px;
    color: #536471;
  }
}

// .dropdown-toggle::after {
//   content: initial;
 
// }

.set-postion {
  right: 0px;
  left: unset;
}

.navbar-brand {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.navbar-brand {
  height: 50px;

  &:hover {
    background-color: #0db685;
    color: white;
    border-radius: 5px;
  }
}

.bd-highlight {
  color: #536471;

  i {
    font-size: 24px;
  }

  a {
    font-size: 12px;
    color: #536471;
  }
}

.active {
  background-color: #0db685;
  color: white !important;
  border-radius: 5px;
}
// .center-text{
//   display: flex;
//     align-items: center;
// }
