.bd-highlight {
  color: #536471;

  i {
    font-size: 24px;
  }

  a {
    font-size: 12px;
    color: #536471;
  }
}

// .dropdown-toggle::after {
//   content: initial;
 
// }

.set-postion {
  right: 0px;
  left: unset;
}

.navbar-brand {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.navbar-brand {
  height: 50px;

  &:hover {
    background-color: #d8f8f2;
   rect:nth-child(1n+2){
     fill: #0db685 !important;
   }
   circle{
     fill: #0db685 !important;
   }
   path{
     fill: #0db685 !important;
   }
  }
}

.bd-highlight {
  color: #536471;

  i {
    font-size: 24px;
  }

  a {
    font-size: 12px;
    color: #536471;
  }
}

.active {
  background-color: #d8f8f2;
  border-left: 3px solid #0db685;
  rect:nth-child(1n+2){
    fill: #0db685 !important;
  }
  circle{
    fill: #0db685 !important;
  }
  path{
    fill: #0db685 !important;
  }
}
