.m-t-otp {
    margin-top: 80px;
  }
.modal-body {
    display: flex;
    padding: 0;
    border-radius: 4rem;
    font-family: 'PT Sans', sans-serif;
  }
  .set-as-logo{
    width: 100px;
    height: 100px;
    border: 1px solid #0db685;
    border-radius: 50%;
  }
  @media (min-width: 0px) and (max-width: 991px){
  @media (min-height: 0px) and (max-height: 700px) {
   .height-card{
    height: 507px;
   }
   .set-m-tb{
    margin: 30px 0px 30px 0px;
   }
  }
  @media  (min-height: 699px) and(max-height: 749px) {
    .height-card{
     height: 580px;
    }
    .set-m-tb{
     margin: 60px 0px 60px 0px;
    }
  }
  @media  (min-height: 750px) and(max-height: 869px) {
    .height-card{
     height: 686px;
    }
    .set-m-tb{
     margin: 110px 0px 110px 0px;
    }
  }
  @media  (min-height: 870px) and(max-height: 900px) {
   .height-card{
    height: 730px;
   }
   .set-m-tb{
    margin: 130px 0px 130px 0px;
   }
  }
  @media  (min-height: 901px) and(max-height: 1000px) {
   .height-card{
    height: 740px;
   }
   .set-m-tb{
    margin: 140px 0px 140px 0px;
   }
  }
}
  .modal-content {
    border-radius: 4rem;
    width: 140%;
    -webkit-box-shadow: -1px -2px 42px -19px rgba(0,0,0,0.74);
  -moz-box-shadow: -1px -2px 42px -19px rgba(0,0,0,0.74);
  box-shadow: -1px -2px 42px -19px rgba(0,0,0,0.74);
  }
  .modal-content h1, .modal-content h2, .modal-content h3 {
      text-align: center;
  }
  .modal-content h1 {
    font-size: 1.3em;
    text-transform: uppercase;
  }
  
  .modal-content h2 {
      font-size: 1.1em;
  }
  .modal-content h3 {
    font-size: .8em;
    letter-spacing: 2px;
  }
  form {
      font-size: .8em;
  }
  .column {
    flex: 50%;
    padding: 10px;
  }
  
  .column#main {
    flex: 75%;
    padding: 50px;
    margin-top: 30px;
    margin-left: 15px;
  }
  
  #secondary {
    background-color: #0db685;
    border-radius: 0 4rem 4rem 0;
    text-align: center;
  }
  
  #main .form-control {
    border-radius: 0;
    font-size: .9em;
  }
  
//   .btn {
//     text-transform: uppercase;
//     border-radius: .15rem;
//     width: 200px;
//     padding: .150rem .75rem;
//     margin: 30px auto;
//     font-family: 'PT Sans', sans-serif;
//     letter-spacing: 2px;
//   }
  
  .btn-primary {
    border-color: rgba( 255, 255, 255, 0);
    background: #f1da36; /* Old browsers */
  background: -moz-linear-gradient(left, #f1da36 0%, #fca86c 99%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #f1da36 0%,#fca86c 99%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #f1da36 0%,#fca86c 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1da36', endColorstr='#fca86c',GradientType=1 ); /* IE6-9 */
  }
  
  .btn-primary:hover {
    border-color: rgba( 255, 255, 255, 0);
  }
  
  #main .btn-primary {
    width: 100%;
  }
  #secondary .btn-primary {
    background: #f8f9fa4f;
    color: #000;
  }
  .modal-body label {
    margin-bottom: 0;
  }
  
  .sec-content {
    margin-top: 85%;
  }





//   ------------------------------------------------------

// Colors
$greenSeaweed: rgba(2, 128, 144, 1);
$blueQueen: rgba(69, 105, 144, 1);
$redFire: rgba(244, 91, 105, 1);

// Fonts
$fontAsap: 'Asap', sans-serif;


.login {
  overflow: hidden;
  background-color: white;
  padding: 40px 30px 30px 30px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
//   width: 400px;
  width: 100%;
  transform:translate(-50%, -50%);
  transition:transform 300ms, 
  box-shadow 300ms;
  box-shadow: 5px 10px 10px rgba($greenSeaweed, 0.2);
  
  &::before, &::after {
    content: '';
    position: absolute;
    width: 600px;
    height: 600px;
    border-top-left-radius: 40%;
    border-top-right-radius: 45%;
    border-bottom-left-radius: 35%;
    border-bottom-right-radius: 40%;
    z-index: -1;
  }
  
  &::before {
    left: 40%;
    top: 0;
    bottom: -130%;
    background-color: rgba($blueQueen, 0.15);
    animation:wawes 6s infinite linear;
  }
  
  &::after {
    left: 35%;
    top: 0;
    bottom: -125%;
    background-color: rgba($greenSeaweed, 0.2);
    animation:wawes 7s infinite;
  }
  
  > input {
    font-family: $fontAsap;
    display: block;
    border-radius: 5px;
    font-size: 16px;
    background: white;
    width: 100%;
    border: 0;
    padding: 10px 10px;
    margin: 15px -10px;
  }
  
//   > button {
//     font-family: $fontAsap;
//     cursor: pointer;
//     color: #fff;
//     font-size: 16px;
//     text-transform: uppercase;
//     width: 80px;
//     border: 0;
//     padding: 10px 0;
//     margin-top: 10px;
//     margin-left: -5px;
//     border-radius: 5px;
//     background-color: $redFire;
//     transition:background-color 300ms;
    
//     &:hover {
//       background-color: darken($redFire, 5%);
//     }
//   }
}

@keyframes wawes {
  from { transform:rotate(0); }
  to { transform:rotate(360deg); }
}

a {
  text-decoration: none;
  color: rgba(white, 0.6);
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 12px;
}

// otp


.card h6 {
    color: #0db685;
    font-size: 20px
  }
  
  .inputs input {
    width: 40px;
    height: 40px
  }
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0
  }
  
  .card-2 {
    // background-color: #fff;
    border: 1px solid #0db685;
    padding: 10px;
    // width: 350px;
    height: 54px;
    bottom: -50px;
    left: 20px;
    // position: absolute;
    border-radius: 5px
  }
  
  .card-2 .content {
    // margin-top: 50px
  }
  
  .card-2 .content a {
    color: #0db685
  }
  
  .form-control:focus {
    box-shadow: none;
    border: 2px solid #0db685
  }
  
  .validate {
    border-radius: 20px;
    height: 40px;
    background-color: #0db685;
    border: 1px solid #0db685;
    width: 140px
  }
  