<!--
  https://bootsnipp.com/snippets/7nV1l
-->
<!-- <div class="box5">
  <div class="row userMain">
          <div class="userBlock">
              <div class="backgrounImg">
                  <img src="https://preview.ibb.co/miQjb7/photography4.jpg">
              </div>
              <div class="userImg">
                  <img [src]="profileSmImage"
                  alt="Place image title" width="40" height="40"
                  *ngIf="!isImageLoading">
              </div>
              <div class="userDescription">
                  <h5>{{user.full_name}}</h5>
                  <p>{{user.username}}</p>
                 
                  
                   <div class="followrs">
                      <span class="number">{{followersCount}}</span>
                       <span>Followers</span>
                   </div>
                   
                   <a *ngIf="!isSelfProfile" [routerLink]="">
                       <span class="badge badge-pill badge-primary pointer"  (click)="followEntity()">{{followCntrlLabel}}</span>
                   </a>
              </div>
              <div *ngIf="!isSelfProfile" >
                <ul class="icon">
                  <li><a [routerLink]="" (click)="gotoUser()" class="fa fa-eye bg-warning" title="View Profile"> View Profile </a></li>
                  <li><a *ngIf="manageMembers" [routerLink]="" (click)="removMember()" class="fa fa-trash-o bg-warning" title="View Profile"> View Profile </a></li>
                </ul>
              </div>
             
          </div>
    </div>
  </div>   -->


  <div class="p-2 box-card">
    <div class="row card-profile m-0 p-3">
      <div class="col-5 wave-li-firogi">
        <img [src]="profileSmImage" alt="" class="img" style="border-radius: 50%;" *ngIf="!isImageLoading">
      </div>
      <div class="col-7">
        <div class="font-20">{{user.full_name}}</div>
        <div class="font-14"> <a class="color-grew">{{user.username}}</a></div>
        <div class="font-14"> <a class="color-grew"> {{followersCount}} Followers </a></div>
        <div *ngIf="!isSelfProfile" class="btn button-blue font-14 my-2" (click)="followEntity()">
          {{followCntrlLabel}}
        </div>
      </div>
    </div>
    <div *ngIf="!isSelfProfile" >
      <ul class="icon">
        <li class="text-center"><a [routerLink]="" (click)="gotoUser()" class="fa fa-eye bg-warning" title="View Profile"> </a></li>
        <li class="text-center"><a *ngIf="manageMembers" [routerLink]="" (click)="removMember()" class="fa fa-trash-o bg-warning" title="View Profile"> </a></li>
      </ul>
    </div>
    <div class="star-tag">
      <i class="fa fa-star text-white pointer"></i>
    </div>
  </div>
 
