.set-box{
    position: absolute;
    // display: block;
}
.top-close{
    position: absolute;
    top: 20px;
    left: 15px;
}
.containers {
    position: relative;
    text-align: center;
    color: white;
  }
  :host::ng-deep.angular-editor .angular-editor-wrapper .angular-editor-textarea{
      border: none !important;
  }
  :host::ng-deep.angular-editor-textarea:focus-visible {
    outline: unset !important;
}