.set-box{
    position: absolute;
    // display: block;
}
.top-close{
    position: absolute;
    top: 20px;
    left: 15px;
}
.containers {
    position: relative;
    text-align: center;
    color: white;
  }