

#hashLink {
    display: none;
}
a:hover {
  color: #0db685;
  // text-decoration: underline;
}
#hashLink:target {
    display: block;
}
.lock-postion{
  position: absolute;
  margin-top: -30px;
  margin-left: 110px;
  background-color: #d8f8f2;
  border-radius: 50%;
  line-height: 0.1;
}
.shaw-bg:hover{
  background-color: #d8f8f2;
  border-radius: 5px;
  cursor: pointer;
  color: #000000;
  // .badges{
  //   background-color: #0db685;
  //   color: #ffffff;
  // }
}
.edit-icon-fix{
  position: absolute;
    right: 20px;
}
.circle{
  position: relative;
  top: 4px;
  .bxs-star{
    font-weight: 800;
  }
}
@media (min-width: 0px) and (max-width: 767px){
  svg {
    width: 15px !important;
    height: 15px !important;
  }
}
  @media (min-width: 768px) and (max-width: 991px){
    svg {
      width: 15px !important;
      height: 15px !important;
    }
  }
  .fixed-popup{
    display: none !important;
  }
#xyz{
  left: unset !important;
  right: 0px;
  // z-index: unset;
  background-color: #ffffff;
    border: 0 solid rgba(0, 0, 0, 0.15);
    border-radius: 0.75rem;
    -webkit-box-shadow: 0px 0px 50px 0px rgb(82 63 105 / 15%);
    box-shadow: 0px 0px 50px 0px rgb(82 63 105 / 15%);
}
.dropdown-item:focus, .dropdown-item:hover{
  color: #0db685 ;
}
.example-chip-list {
  width: 100%;
}
.profiles{
  border-radius: 10px;
  width: 100%;
    max-width: 120px;
    height: 120px;
    object-fit: cover;
}
.prof-camera{
    position: absolute;
    margin-top: -30px;
    background-color: #d8f8f2;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 7px;
    cursor: pointer;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    background-color: unset;
    border-bottom: 2px solid #0db685;
    color: #0db685;
}
.active {
    // background-color: #0db685;
    color: #0db685 !important;
    // font-weight: 600;
    // border-radius: 5px;
    border-bottom: 3px solid #0db685;
  }
  .set-w-fix{
    cursor: pointer;
    flex-shrink: 0;
  }
  .fix-respo{
    border-bottom: 1px solid #0db685;
      display: flex;
      overflow-x: auto;
      left: 8px;
      width: 100%;
      // z-index: 1;
    }
    #dropdownManu::after{
      display: none;
    
  }
  rect:nth-child(1n+2){
    fill: #0db685 !important;
  }
  circle{
    fill: #0db685 !important;
  }
  path{
    fill: #0db685 !important;
  }
  .badge{
    justify-content: center;
    align-items: center;
    color: #0BB783;
    background-color: #D7F9EF;
    border-radius: 0.75rem;
    // padding: 0.50em 0.8em;
  }
  .badges{
    justify-content: center;
    align-items: center;
    color: #0BB783;
    background-color: #D7F9EF;
    border-radius: 0.75rem;
    padding: 0.50em 0.8em;
    display: inline-block;
    // padding: 0.25em 0.4em;
    font-size: 60%;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
  }
  .line{
    border-right: 0.2px solid #0db685;
    height: 50px;
    // position: absolute;
    // left: 25%;
    // margin-left: -3px;
    top: 0;
  }
  @media (min-width: 0px) and (max-width: 375px){
    .font-14 {
      font-size: 11px;
  }
  .btn {
    padding: 2px 1px;
  }
  }
