<div [ngClass]="{'mb-5rem container' : (isStandaloneMode && !isCommentMode)}">
    <div *ngIf="(isStandaloneMode && !isCommentMode)" class="pt-3">
        <div class="p-3">
            <h4><span class="mr-3"> <i class='bx bx-arrow-back pointer' [routerLink]="['/post/stage']"></i></span> Home</h4>
            <hr class="my-2">
        </div>
    </div>
    <div (click)="openStandalone($event)" [ngClass]="{'border-radius bg-white p-3 mb-3' : (isStandaloneMode && !isCommentMode), 'border-radius bg-comment p-3 mb-3' : isComment}">
        <div class="d-flex align-items-start  pointer p-1 rounded" id="cardbase">
            <div class="flex-shrink-0 mr-2" id="cardbase">
                <img [src]="profileSmImage" class="post-profile">
            </div>
            <div class="flex-shrink-1 w-100" id="cardbase">
                <!-- <div> -->
                    <!--<span id="link1" class="font-20 hover-underline"> {{post.entityId}}</span>-->
                    <span id="link2" class="font-16 hover-underline text-green">{{post.entityId}} </span>
                    <!--<span class="text-muted mr-1">{{post.entityId}}</span>-->
                    <span class="h6 text-muted"><i class="bx bx-time"></i> {{post.lastModifiedDate}}</span>


                    <!-- <p class="color-grew font-20 text-break">
                        {{post.postText}}
                    </p> -->

                    <angular-editor [ngClass]="{'font-20 w-100 border-0' : !isComment, 'font-14 mb-2' : isComment}" id="text" [(ngModel)]="post.postText" [config]="config">
                    </angular-editor>
                <!-- </div> -->
                <div *ngIf="post && post['containsImage']" class="containers" id="cardbase">
                    <!--
                    <img src="{{post.postImage}}" id="image{{index}}" class="rounded postcard-img" style="">
                    -->
                    <img [src]="postImage" id="image" class="rounded postcard-img" (click)="modelPopupImage(largeSlider)">

                    <ng-template #largeSlider let-modal>
                        <div class="slide-modal-content">
                            <div class="image-row">
                                <img class="images rounded" [src]="postImage" style="width: 100%;">
                            </div>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
        <hr class="mt-0">
        <div *ngIf="!isCommentMode" id="cardbase" class="d-flex justify-content-around center-text">
            <div>
                <a class="edit-comment mr-1" (click)="modelPopup(commentModal, post)">
                    <span class="icon-shaw pointer">
                        <i class='bx bx-chat' id="message"></i>
                    </span></a>{{commentsCount}}
            </div>
            <div>
                <a class="edit-like mr-1" (click)="like()">
                    <span class="icon-shaw pointer">
                        <i class='bx bx-heart' id="like" *ngIf="isLiked"></i>
                        <i class='bx bxs-heart color-red' id="like" *ngIf="!isLiked"></i>
                    </span>
                </a>{{likedCount}}
            </div>
            <!--
            <div>
                <a class="edit-reply mr-1"><span class="icon-shaw pointer"><i class="bx bx-reply"
                            id="reply"></i></span></a>2
            </div>
            -->
            <div>
                <a class="edit-share mr-1"><span class="icon-shaw pointer" (click)="modelPopup(shareModal, null)"><i
                            class="bx bx-share-alt" id="share"></i></span></a>
            </div>
        </div>
    </div>

    <!--Showing the Comments for a Post only in Standalone mode-->
    <div *ngIf="isStandaloneMode">    
        <app-postcard *ngFor='let comment of comments' [isComment]=true [post]="comment" [loadComments]=false></app-postcard>
    </div>


</div>
<ng-template #shareModal let-modal id="sharemodel">
    <div class="modal-contents">
        <div class="modal-body">
            <div>
                <div class="pointer" (click)="modal.dismiss('Cross click')"> <i class="p-2 bx bx-share-alt"
                        id="reply"></i>
                    <a href="https://api.whatsapp.com/send?text=enter message here">Share whatsapp</a>
                </div>
                <hr class="my-1">
                <div class="pointer" (click)="modal.dismiss('Cross click')"> <i class="p-2 bx bx-link"
                        id="reply"></i>Copy Link</div>
                <hr class="my-1">
                <div class="pointer" (click)="modal.dismiss('Cross click')"> <i class="p-2 bx bx-message"
                        id="reply"></i>Direct Message</div>
            </div>
        </div>
    </div>
</ng-template>

<!-- Commenting for a Post in a Modal - Current Post with disabled controls and New comment component-->
<ng-template #commentModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">Comment</h5>

        <div (click)="modal.dismiss('Cross click')"><i class="bx bx-x"></i> </div>
    </div>
    <div class="modal-body">
        <!--
        <div>
            <div class="d-flex align-items-start">
                <div class="flex-shrink-0 mr-2">
                    <img src="../../../assets/profile.png" class="post-profile">
                </div>
                <div class="flex-shrink-1 w-100">
                    <div>
                        <h6> sonytv</h6>
                        <h6 class="text-green"> @SonyTV</h6>
                        <p class="font-20">
                            16m Sai ke vachanon se judi katha sunne ke baad bhi nahi badla Rishabh ka mann, kya ab Sai ki
                            leela
                        
                        </p>
                    </div>
                </div>
            </div>
        </div>
-->
        <app-postcard [post]=post [isCommentMode]=true class="model-img"></app-postcard>
        <app-newpost [isCommentMode]=true [modalRef]=modalReference></app-newpost>
    </div>
</ng-template>