     <div class="mb-4 p-3" style="background-color: #ffd54f;">
       <div class="text-center pb-2 pt-3">
         <img src="../../../assets/images/userprofile.jpg" style="border-radius:50%; width: 150px;height: 150px;box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);">
       </div>
       <div class="py-2 text-center">
        <div class="font-20">fullname</div>
        <div class="font-14"> <a > username </a></div>
        <div class="font-14"> <a >98 Followers</a></div>
      </div>
      <div>
      <div class="icons text-center py-2">
        <span class="pointer text-center mx-2 fa fa-check bg-primary" title="Accept"> </span>
        <span class="pointer text-center mx-2 fa fa-ban bg-danger" title="Not Interested"> </span>
        <span class="pointer text-center mx-2 fa fa-eye bg-warning" title="View Profile"> </span>
      </div>
     </div>
     </div>