
<!--Design5 - Begin-->
<div class="main">
    <div class="timeline">
        <div class="d-flex bd-highlight p-3">
            <div class="d-flex ">
                <div class="flex-shrink-0 res-m-r">
                    <div>
                        <img src="../../assets/bg.jpg" class="image-logo">
                    </div>
                </div>
                <div class="flex-shrink-1 align-self-md-center">
                    <div class="font-16 pointer hover">Kishor Kanani (Kumar)</div>
                    <div class="font-14 color-grew pointer hover">Varachha, District</div>
                    <div class="d-flex flex-wrap my-2 font-12">
                        <a class="text-muted pointer hover"> <i class="bx bx-map-marker"></i> Gujrat</a>
                        <a class="text-muted pointer hover"> <i class="bx bx-bullhorn"></i> Form BJP</a>
                        <span class="text-muted"> <i class="bx bx-calendar"></i> 28 Jan 2021 to 29 Dec
                            2022</span>
                    </div>
                </div>
            </div>
            <div *ngIf="isProfileInEditMode()" class="p-2 ml-auto edit-icon">
                <div class="d-flex">
                    <a class="flex-shrink-0">
                        <span class="icon-shaw pointer" (click)="largeModal(largeDataModal)"><i
                                class="bx bx-plus w-auto"></i></span>
                    </a>
                    <a class="flex-shrink-1 ml-1">
                        <span class="icon-shaw pointer"><i class="bx bx-pencil w-auto" (click)="largeModal(largeDataModal)"></i></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="container">
                <div class="d-flex ">
                    <div class="flex-shrink-0 mt-2">
                        <div class="lines" *ngFor="let role of roles; last as isLast">
                            <div class="dots p-2">
                                <i class="bx bx-envelope w-auto text-green"></i>
                            </div>
                            <div class="lin ml-3" *ngIf="!isLast"></div>

                        </div>
                    </div>
                    <div class="flex-shrink-1">
                        <div class="cards">
                            <div class="card" *ngFor="let role of roles">
                                <div class="row m-0 py-2">
                                    <div class="col-10" style="position: unset;">
                                        <div class="font-18 pointer hover">Kishor Kanani (Kumar)</div>
                                        <div class="font-14 color-grew pointer hover">Varachha, District</div>
                                        <div class="d-flex flex-wrap my-2 font-12">
                                            <a class="mr-3 text-muted pointer hover"> <i class="bx bx-map-marker"></i>
                                                Gujrat</a>
                                            <a class="mr-3 text-muted pointer hover"> <i class="bx bx-bullhorn"></i> Form
                                                BJP</a>
                                        </div>
                                        <div class="font-14">
                                            <span class="text-muted"> <i class="bx bx-calendar"></i> 28 Jan
                                                2021
                                                to 29
                                                Dec 2022</span>
                                        </div>
                                    </div>
                                    <div *ngIf="isProfileInEditMode()" class="edit-icon col-2 p-0" style="position: unset;">
                                        <div class="">
                                            <a class="">
                                                <span class="icon-shaw pointer"><i class="bx bx-pencil w-auto" (click)="largeModal(largeDataModal)"></i></span>
                                            </a>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
               
                   
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Design5 - End-->

<ng-template #largeDataModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">Large modal</h5>

        <div (click)="modal.dismiss('Cross click')"><i class="bx bx-x"></i> </div>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Title (Member)</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Title (Member)">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Serving District name</label>
                <div class="input-group">
                    <div class="ng-autocomplete">
                        <ng-autocomplete [data]="data" [searchKeyword]="keyword" placeholder="Search"
                            class="form-control border-0 bg-search p-0 rounded-right" (selected)='selectEvent($event)'
                            (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)'
                            [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate">
                        </ng-autocomplete>
                        <ng-template #itemTemplate let-item>
                            <div class="d-flex justify-content-start p-2">
                                <div>
                                    <img src="{{item.image}}" class="search-profile">
                                </div>
                                <div>
                                    <a [innerHTML]="item.name" class="p-2"></a>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template #notFoundTemplate let-notFound>
                            <div [innerHTML]="notFound"></div>
                        </ng-template>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">State</label>
                <div class="input-group">
                    <div class="ng-autocomplete">
                        <ng-autocomplete [data]="data" [searchKeyword]="keyword" placeholder="Search"
                            class="form-control border-0 bg-search p-0 rounded-right" (selected)='selectEvent($event)'
                            (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)'
                            [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate">
                        </ng-autocomplete>
                        <ng-template #itemTemplate let-item>
                            <div class="d-flex justify-content-start p-2">
                                <div>
                                    <img src="{{item.image}}" class="search-profile">
                                </div>
                                <div>
                                    <a [innerHTML]="item.name" class="p-2"></a>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template #notFoundTemplate let-notFound>
                            <div [innerHTML]="notFound"></div>
                        </ng-template>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Duration</label>
                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Duration">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Start-Date</label>
                <input type="date" class="form-control" id="exampleInputPassword1" placeholder="Start-Date">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">End-Date</label>
                <input type="date" class="form-control" id="exampleInputPassword1" placeholder="End-Date">
            </div>
            <button type="submit" class="btn button-blue font-14">Submit</button>
        </form>
    </div>
</ng-template>


<!--Design1 - Begin-->
<!--
<div class="border-radius bg-white mb-3 p-3">
    <div class="d-flex bd-highlight">
        <div>
            <div class="d-flex align-items-center">
                <div class="flex-shrink-0 res-m-r">
                    <div>
                        <img src="../../assets/bg.jpg" class="image-logo">
                    </div>
                </div>
                <div class="flex-shrink-1 align-self-md-center">
                    <div class="font-20 pointer hover">Kishor Kanani (Kumar)</div>
                    <div class="font-14 color-grew pointer hover">Varachha, District</div>
                    <div class="d-flex flex-wrap my-2 font-12">
                        <a class="mr-3 text-muted pointer hover"> <i class="bx bx-map-marker"></i> Gujrat</a>
                        <a class="mr-3 text-muted pointer hover"> <i class="bx bx-bullhorn"></i> Form BJP</a>
                        <span class="mr-3 text-muted"> <i class="bx bx-calendar"></i> 28 Jan 2021 to 29 Dec
                            2022</span>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="isProfileInEditMode()" class="p-2 ml-auto edit-icon">
            <div class="d-flex">
                <a class="mr-3 flex-shrink-0">
                    <span class="icon-shaw pointer" (click)="largeModal(largeDataModal)"><i
                            class="bx bx-plus w-auto"></i></span>
                </a>
                <a class="flex-shrink-1">
                    <span class="icon-shaw pointer"><i class="bx bx-pencil w-auto"></i></span>
                </a>
            </div>
        </div>
    </div>
</div>
-->
<!--Design1 - End-->

<!--Design2 - Begin-->
<!--
<div class="border-radius bg-white mb-3 p-3">
    <div class="border">
        <div class="card-body ">
            <div class="d-flex bd-highlight">
                <div>
                    <div class="d-flex">
                        <div class="d-flex align-items-center">
                            <div class="flex-shrink-0 res-m-r">
                                <div>
                                    <img src="../../assets/bg.jpg" class="image-logo">
                                </div>
                            </div>
                            <div class="flex-shrink-1 flex-column">
                                <div class="font-20 pointer hover">Kishor Kanani (Kumar)</div>
                                <div class="font-14 color-grew hover pointer">Varachha, District</div>
                            </div>
                        </div>
                    </div>

                </div>
                <div *ngIf="isProfileInEditMode()" class="p-2 ml-auto edit-icon">
                    <div class="d-flex">
                        <a class="mr-1 flex-shrink-0">
                            <span class="icon-shaw pointer" (click)="largeModal(largeDataModal)"><i
                                    class="bx bx-plus w-auto"></i></span>
                        </a>
                        <a class="flex-shrink-1">
                            <span class="icon-shaw pointer"><i class="bx bx-pencil w-auto"></i></span>
                        </a>
                    </div>
                </div>
            </div>
            <p class="py-3 mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <div class="py-2">
                <div class="d-flex align-items-center mb-2">
                    <span class="flex-shrink-0 mr-2">
                        <i class="bx bx-map-marker"></i>
                    </span>
                    <a class="text-muted pointer hover">Gujrat</a>
                </div>
                <div class="d-flex align-items-center mb-2">
                    <span class="flex-shrink-0 mr-2">
                        <i class="bx bx-bullhorn"></i>
                    </span>
                    <a class="text-muted pointer hover">Form BJP</a>
                </div>
                <div class="d-flex align-items-center mb-2">
                    <span class="flex-shrink-0 mr-2">
                        <i class="bx bx-calendar"></i>
                    </span>
                    <span class="text-muted">28 Jan 2021 to 29 Dec 2022</span>
                </div>
            </div>
        </div>
    </div>
</div>
-->
<!--Design2 - End-->

<!--Design3 - Begin-->
<!--
<div class="border-radius bg-white mb-3 p-3">
    <h4>Role</h4>
    <hr>
    <div>
        <div class="d-flex py-3">
            <div class="flex-shrink-0 mr-3">
                <img src="../../assets/profile.png" class="Role-step-img border">
            </div>
            <div class="flex-shrink-1 mr-5">
                <div class="font-20 pointer hover">Kishor Kanani (Kumar)</div>
                <div class="font-14 color-grew pointer hover">Varachha, District</div>
                <div class="d-flex flex-wrap my-2 font-12">
                    <a class="mr-3 text-muted pointer"> <i class="bx bx-map-marker"></i> Gujrat</a>
                    <a class="mr-3 text-muted pointer"> <i class="bx bx-bullhorn"></i> Form BJP</a>
                </div>
                <div class="font-14">
                    <a class="mr-3 text-muted pointer"> <i class="bx bx-calendar"></i> 28 Jan 2021 to 29 Dec 2022</a>
                </div>
            </div>
        </div>
        <hr class="m-0">
        <div class="d-flex py-3">
            <div class="flex-shrink-0 mr-3">
                <img src="../../assets/profile.png" class="Role-step-img border">
            </div>
            <div class="flex-shrink-1 mr-5">
                <div class="font-20 pointer hover">Kishor Kanani (Kumar)</div>
                <div class="font-14 color-grew pointer hover">Varachha, District</div>
                <div class="d-flex flex-wrap my-2 font-12">
                    <a class="mr-3 text-muted pointer"> <i class="bx bx-map-marker"></i> Gujrat</a>
                    <a class="mr-3 text-muted pointer"> <i class="bx bx-bullhorn"></i> Form BJP</a>
                </div>
                <div class="font-14">
                    <a class="mr-3 text-muted pointer"> <i class="bx bx-calendar"></i> 28 Jan 2021 to 29 Dec 2022</a>
                </div>
            </div>
        </div>
        <hr class="m-0">
        <div class="d-flex py-3">
            <div class="flex-shrink-0 mr-3">
                <img src="../../assets/profile.png" class="Role-step-img border">
            </div>
            <div class="flex-shrink-1 mr-5">
                <div class="font-20 pointer hover">Kishor Kanani (Kumar)</div>
                <div class="font-14 color-grew pointer hover">Varachha, District</div>
                <div class="d-flex flex-wrap my-2 font-12">
                    <a class="mr-3 text-muted pointer"> <i class="bx bx-map-marker"></i> Gujrat</a>
                    <a class="mr-3 text-muted pointer"> <i class="bx bx-bullhorn"></i> Form BJP</a>
                </div>
                <div class="font-14">
                    <a class="mr-3 text-muted pointer"> <i class="bx bx-calendar"></i> 28 Jan 2021 to 29 Dec 2022</a>
                </div>
            </div>
        </div>
        <hr class="m-0">
        <div class="d-flex py-3">
            <div class="flex-shrink-0 mr-3">
                <img src="../../assets/profile.png" class="Role-step-img border">
            </div>
            <div class="flex-shrink-1 mr-5">
                <div class="font-20 pointer hover">Kishor Kanani (Kumar)</div>
                <div class="font-14 color-grew pointer hover">Varachha, District</div>
                <div class="d-flex flex-wrap my-2 font-12">
                    <a class="mr-3 text-muted pointer"> <i class="bx bx-map-marker"></i> Gujrat</a>
                    <a class="mr-3 text-muted pointer"> <i class="bx bx-bullhorn"></i> Form BJP</a>
                </div>
                <div class="font-14">
                    <a class="mr-3 text-muted pointer"> <i class="bx bx-calendar"></i> 28 Jan 2021 to 29 Dec 2022</a>
                </div>
            </div>
        </div>
    </div>
</div>
-->
<!--Design3 - End-->

<!--Design4 - Begin-->
<!--
<div class="main">
    <div class="timeline">
        <div class="d-flex bd-highlight p-3">
            <div class="d-flex ">
                <div class="flex-shrink-0 res-m-r">
                    <div>
                        <img src="../../assets/bg.jpg" class="image-logo">
                    </div>
                </div>
                <div class="flex-shrink-1 align-self-md-center">
                    <div class="font-20 pointer hover">Kishor Kanani (Kumar)</div>
                    <div class="font-14 color-grew pointer hover">Varachha, District</div>
                    <div class="d-flex flex-wrap my-2 font-12">
                        <a class="mr-3 text-muted pointer"> <i class="bx bx-map-marker"></i> Gujrat</a>
                        <a class="mr-3 text-muted pointer"> <i class="bx bx-bullhorn"></i> Form BJP</a>
                        <a class="mr-3 text-muted pointer"> <i class="bx bx-calendar"></i> 28 Jan 2021 to 29 Dec
                            2022</a>
                    </div>
                </div>
            </div>
            <div *ngIf="isProfileInEditMode()" class="p-2 ml-auto edit-icon">
                <div class="d-flex">
                    <a class="mr-3 flex-shrink-0">
                        <span class="icon-shaw pointer" (click)="largeModal(largeDataModal)"><i
                                class="bx bx-plus w-auto"></i></span>
                    </a>
                    <a class="flex-shrink-1">
                        <span class="icon-shaw pointer"><i class="bx bx-pencil w-auto"></i></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="container">
                <div class="d-flex ">
                    <div class="flex-shrink-0">
                        <div class="lines">
                            <div class="dot"></div>
                            <div class="line"></div>
                            <div class="dot"></div>
                            <div class="line"></div>
                            <div class="dot"></div>
                        </div>
                    </div>
                    <div class="flex-shrink-1">
                        <div class="cards">
                            <div class="card">
                                <div class="p-3">
                                    <div class="font-20 pointer hover">Kishor Kanani (Kumar)</div>
                                    <div class="font-14 color-grew pointer hover">Varachha, District</div>
                                    <div class="d-flex flex-wrap my-2 font-12">
                                        <a class="mr-3 text-muted pointer"> <i class="bx bx-map-marker"></i> Gujrat</a>
                                        <a class="mr-3 text-muted pointer"> <i class="bx bx-bullhorn"></i> Form BJP</a>
                                    </div>
                                    <div class="font-14">
                                        <a class="mr-3 text-muted pointer"> <i class="bx bx-calendar"></i> 28 Jan 2021
                                            to 29
                                            Dec 2022</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="p-3">
                                    <div class="font-20 pointer hover">Kishor Kanani (Kumar)</div>
                                    <div class="font-14 color-grew pointer hover">Varachha, District</div>
                                    <div class="d-flex flex-wrap my-2 font-12">
                                        <a class="mr-3 text-muted pointer"> <i class="bx bx-map-marker"></i> Gujrat</a>
                                        <a class="mr-3 text-muted pointer"> <i class="bx bx-bullhorn"></i> Form BJP</a>
                                    </div>
                                    <div class="font-14">
                                        <a class="mr-3 text-muted pointer"> <i class="bx bx-calendar"></i> 28 Jan 2021
                                            to 29
                                            Dec 2022</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="p-3">
                                    <div class="font-20 pointer hover">Kishor Kanani (Kumar)</div>
                                    <div class="font-14 color-grew pointer hover">Varachha, District</div>
                                    <div class="d-flex flex-wrap my-2 font-12">
                                        <a class="mr-3 text-muted pointer"> <i class="bx bx-map-marker"></i> Gujrat</a>
                                        <a class="mr-3 text-muted pointer"> <i class="bx bx-bullhorn"></i> Form BJP</a>
                                    </div>
                                    <div class="font-14">
                                        <a class="mr-3 text-muted pointer"> <i class="bx bx-calendar"></i> 28 Jan 2021
                                            to 29
                                            Dec 2022</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
-->
<!--Design4 - End-->
