.Role-step-img {
  width: 50px;
  height: 50px;
}

@media (min-width: 360px) and (max-width: 400px){
  .lines {
    .lin {
        height: 120px !important;
    }
}
}
@media (min-width: 0px) and (max-width: 360px){
  .lines {
    .lin {
        height: 120px !important;
    }
}
}
:host::ng-deep.autocomplete-container .input-container input{
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  border: 1px solid #ccc;
    border-radius: 3px !important;
}
.cardTop {
  width: 497px;
  height: 284px;
  background: #FAC24F;
  border-radius: 20px;
  display: flex;
  overflow: hidden;
  align-items: flex-end;
}


.timeline {
  // width: 355px;
  // height: 696px;
  background: #ECF1F524;
  mix-blend-mode: normal;
  // backdrop-filter: blur(15px);
  overflow: hidden;
  // position: absolute;
//   top: 144px;
  // margin-left: 71px;
  box-shadow: 0px 20px 53px -30px rgba(95, 102, 173, 0.566816);
  border-radius: 10px;

  h3 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
    margin-left: 66px;
    margin-top: 40px;
  }

  label {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */
    margin-left: 66px;
    margin-top: 10px;
    color: #FFFFFF;
  }

  .box {
    width: 100%;
    // height: 509px;
    background: #fbfcfd;
    margin-top: 50.5px;

    .container {
      width: 100%;
      // height: 357px;
      display: flex;
      .lines {
        margin-left: 40px;
        // margin-top: 10px;
        .dot {
          width: 14px;
          height: 14px;
          background: #D1D6E6;
          border-radius: 7px;
        }
        .dots {
          width: 70px;
          height: 70px;
          background-color: #D7F9EF !important;
          border-radius: 50px;
        }
        .line {
          height: 130px;
          width: 2px;
          background: #D1D6E6;
          margin-left: 5.3px;
        }
        .lin {
          height: 107px;
          width: 2px;
          // background: #D1D6E6;
          background-color: #D7F9EF;
          margin-left: 33px;
        }
      }
      .cards {
        margin-left: 30px;
        // transform: translateY(-50px);
        margin-top: -50px;
        .card {
          width: 280px;
          height: 170px;
          // padding-top: 25px;
          
            position: unset;
          background: #FFFFFF;
          box-shadow: 0 2px 2px 0 #eeeeee40;
          border-radius: 10px;
          box-shadow: 0px 16px 15px -10px rgba(105, 96, 215, 0.0944602);
          margin-bottom: 10px;
          &.mid {
            height: 71px;
          }
          h4 {
            font-family: Open Sans;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 19px;
            margin-left: 25px;
            margin-bottom: 5px;
            color: #2B2862;
          }
          p {
            font-family: Open Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;

            color: #2B2862;
            margin-left: 25px;
          }
        }
      }

    }

    .bottom {
      width: 100%;
      height: 107px;
      background: #fff;
      box-shadow: 0 0 2px #eeeeee50;
      padding-top: 45px;

      .btn {
        width: 249px;
        height: 62px;
        background: #FFFFFF40;
        mix-blend-mode: normal;
        cursor: pointer;
        border: 1px solid #8260D780;
        border-radius: 5px;

        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 19px;
        color: #2B2862;

        margin-left: 53px;
        transition: 0.3s;
        background: #2B2862;
        color: #fff;
        border-color: #2B2862;

        &:hover {
          transform: scale(1.03)
        }
      }
    }
  }
}
