<div class="">
    <div class="box-card">
      <div class="p-2 mt-5">
        <div class="text-center card-profile m-0 p-3 wave-li-firogis">
          <div class="" style="margin-top: -70px;">
            <img src="../../../assets/images/userprofile.jpg" alt="" class="img"
              style="border-radius: 50%; border: 3px solid #cceef2;">
              <div class="star-tags">
                <i class="fa fa-star text-white pointer"></i>
              </div>
          </div>
          <div class="py-2">
            <div class="font-20">Fullname</div>
           
            <div class="font-14"> <a class="color-grew"> username </a></div>
            <!-- <div class="font-14"> <a class="color-grew"> Pennsylvania </a></div> -->
            <div class="font-14"> <a class="color-grew">3 Followers</a></div>
          </div>
          <div>
            <ul class="icons-fix">
              <li class="text-center mx-1"><a class="fa fa-check bg-primary"
                  title="Accept"> </a></li>
              <li class="text-center mx-1"><a class="fa fa-ban bg-danger"
                  title="Not Interested"> </a></li>
              <li class="text-center mx-1"><a class="fa fa-eye bg-warning"
                  title="View Profile"> </a></li>
            </ul>
          </div>
    
        </div>
       
      </div>
    </div>
  </div>