<!-- <div class="box5">
  <div class="userMain card">
      <div class="">
          <div class="userBlock">
              <div class="backgrounImg">
                  <img src="https://preview.ibb.co/miQjb7/photography4.jpg">
              </div>
              <div class="userImg">
                  <img [src]="profileSmImage"
                  alt="Place image title"
                  *ngIf="!isImageLoading">
              </div>
              <div class="userDescription">
                <h5>{{user.full_name}}</h5>
                <p>{{user.username}}</p>
               
                <div class="card-body">
                  <p>{{followersCount}} Followers</p>
                </div>

                   <div *ngIf="relationStatus === 'approvalPending'">
                     <ul class="icon">
                       <li><a [routerLink]="" (click)="acceptRequest()" class="fa fa-check bg-primary" title="Accept"> Accept </a></li>
                       <li><a [routerLink]="" (click)="denyRequest()" class="fa fa-ban bg-danger" title="Not Interested"> Not Interested </a></li>
                       <li><a [routerLink]="" (click)="gotoUser()" class="fa fa-eye bg-warning" title="View Profile"> View Profile </a></li>
                     </ul>
                   </div>

                   <div *ngIf="relationStatus != 'approvalPending'">
                     <ul class="icon">
                       <li><a [routerLink]="" (click)="gotoUser()" class="fa fa-eye bg-warning" title="View Profile"> View Profile </a></li>
                     </ul>
                   </div>
              </div>
          </div>
      </div>
    </div>
  </div> -->


  
  
  
  
  
  
  
      <div class="card-profile my-3 p-3">
        <div class="">
          <img src="../../../assets/images/userprofile.jpg" class="card-profile w-100">
        </div>
        <div class="py-2 text-center">
          <div class="font-20">{{user.full_name}}</div>
          <div class="font-14"> <a > {{user.username}} </a></div>
          <!-- <div class="font-14"> <a > Pennsylvania </a></div> -->
          <div class="font-14"> <a >{{followersCount}} Followers</a></div>
        </div>
        <div>
          <div class="icons text-center py-2">
  
            <span (click)="acceptRequest()" class="pointer text-center mx-2 fa fa-check bg-primary" title="Accept"> </span>
            <span (click)="denyRequest()" class="pointer text-center mx-2 fa fa-ban bg-danger" title="Not Interested"> </span>
            <span (click)="gotoUser()" class="pointer text-center mx-2 fa fa-eye bg-warning" title="View Profile"> </span>
          </div>
        </div>
      </div>
  
  <!--
     <div class="mb-4 p-3" style="background-color: #ffd54f;">
       <div class="text-center pb-2 pt-3">
         <img src="../../../assets/images/userprofile.jpg" style="border-radius:50%; width: 150px;height: 150px;box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);">
       </div>
       <div class="py-2 text-center">
        <div class="font-20">{{user.full_name}}</div>
        <div class="font-14"> <a > {{user.username}} </a></div>
        <div class="font-14"> <a >{{followersCount}} Followers</a></div>
      </div>
      <div>
      <div class="icons text-center py-2">
        <span (click)="acceptRequest()" class="pointer text-center mx-2 fa fa-check bg-primary" title="Accept"> </span>
        <span (click)="denyRequest()" class="pointer text-center mx-2 fa fa-ban bg-danger" title="Not Interested"> </span>
        <span (click)="gotoUser()" class="pointer text-center mx-2 fa fa-eye bg-warning" title="View Profile"> </span>
      </div>
     </div>
     </div>
-->

     <!--
     <div class="mb-4 p-3" style="background-color: #ffd54f;">
       <div class="text-center pb-2 pt-3">
         <img src="../../../assets/images/userprofile.jpg" style="border-radius:50%; width: 150px;height: 150px;box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);">
       </div>
       <div class="py-2 text-center">
        <div class="font-20">{{user.full_name}}</div>
        <div class="font-14"> <a > {{user.username}} </a></div>
        <div class="font-14"> <a >{{followersCount}} Followers</a></div>
      </div>
      <div>
      <div class="icons text-center py-2">
        <span (click)="acceptRequest()" class="pointer text-center mx-2 fa fa-check bg-warning" title="Accept"> </span>
        <span (click)="denyRequest()" class="pointer text-center mx-2 fa fa-ban bg-warning" title="Not Interested"> </span>
        <span (click)="gotoUser()" class="pointer text-center mx-2 fa fa-eye bg-warning" title="View Profile"> </span>
      </div>
     </div>
     </div>
     -->