/* You can add global styles to this file, and also import other style files */
// 
@import '~@ctrl/ngx-emoji-mart/picker';
* {
    font-family: 'Poppins', sans-serif;
  }
  ::-webkit-scrollbar {
    width: 2px;
    height: 0px;
    padding-top: 5px;
}
.form-control:focus{
    border-color: #d7f9f1;
    // box-shadow: 0 0 0 0.2rem rgb(215 249 241);
    box-shadow: 0 0 0 0.2rem rgb(215 249 241);
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 5px transparent;
    background: transparent;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
    border-radius: 4px;
}
.pointer{
    cursor: pointer;
}
body{
    background-color: #cceef2;
}
hr{
    border-top: 0.1px solid rgb(13 182 133);
}
@media (min-width: 1200px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1300px;
    }
}
.border-radius{
    border-radius: 8px;
    // border: 0.5px solid #e6e5e2;
    box-shadow: 0px 20px 53px -30px rgb(95 102 173 / 57%);
    .btn{
        border-radius: 5px;
        margin-top: 10px;
        border-color: #666;
        font-weight: 500;
    }
}
.height-fix{
    height: 160px;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
}
.profile{
    border-radius: 50%;
    width: 140px;
    height: 140px;
    position: static;
    margin-top: -90px;
    margin-left: 30px;
    border: 4px solid #ffffff;
}
.cover-camera{
    position: absolute;
    right: 30px;
    top: 10px;
    background-color: #d8f8f2;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.profile-camera{
    position: absolute;
    right: 30px;
    top: 10px;
    background-color: #ffffff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.center-ion{
    display: flex;
    justify-content: center;
    padding: 7px;
    font-size: 15px;
}
// .header-start{
//     margin-top: 50px;
// }
.font-24{
    font-size: 24px;
}
.font-16{
    font-size: 16px;
}
.font-18{
    font-size: 18px;
}
.font-20{
    font-size: 20px;
}
.font-12{
    font-size: 12px;
}
.font-13{
    font-size: 13px;
}
.font-14{
    font-size: 14px;
}
.color-grew{
    color: #536471;
}
.font-w-bold{
    font-weight: 500;
}
.font-w-normal{
    font-weight: 400;
}
.text-green{
    color: #0db685;
    /*color: #71c1bd;*/
}
.bg-drak-blue{
    background-color: white;
}
.pointer{
    cursor: pointer;
}
.center-text{
    div{
        display: flex;
    align-items: center;
    }
}
.bg-light-green{
    background-color: #d8f8f2;
}
.hover-card{
    &:hover{
        background-color: #d8f8f2 !important;
    }
}
.hover-underline{
    &:hover{
        text-decoration: underline;
    }
}
.edit-icon{
    span{

        background-color: #f3f6f9;
        border-radius: 10px;
        padding: 0px 5px 0px 5px;
        font-size: 24px;

        color: #0db685;
    }
    span:hover{
        background-color: #0db685;
        color: #f3f6f9;
    }
}

.edit-comment{
    span{

        background-color: #ffffff;
        border-radius: 50px;
        padding: 6px 7px 1px 7px;
        font-size: 24px;
        color: #0db685;
    }
    span:hover{
        background-color: #1d9bf02e;
        color: #1d9bf0;
    }
}
.edit-like{
    span{

        background-color: #ffffff;
        border-radius: 50px;
        padding: 6px 7px 1px 7px;
        font-size: 24px;
        color: #0db685;
    }
    span:hover{
        background-color: #f9188021;
        color: #f91880;
    }
    .color-red{
        color: #f91880;
    }
}
.edit-reply{
    span{

        background-color: #ffffff;
        border-radius: 50px;
        padding: 6px 7px 1px 7px;
        font-size: 24px;
        color: #0db685;
    }
    span:hover{
        background-color: #1d9bf02e;
        color: #1d9bf0;
    }
}
.edit-share{
    span{

        background-color: #ffffff;
        border-radius: 50px;
        padding: 6px 7px 1px 7px;
        font-size: 24px;
        color: #0db685;
    }
    span:hover{
        background-color: #1d9bf02e;
        color: #1d9bf0;
    }
}
.edit-icon{
    i{
        font-size: 18px;
    }
}
.image-logo{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.hover{
    // font-weight: 500;   
    &:hover{
        color: #0db685 !important;
        text-decoration: unset;
        // font-weight: 500;   
    }
}
.hover-edit{
    // font-weight: 500;   
    &:hover{
        color: #0db685 !important;
        // font-weight: 500;   
    }
}
.green-btn{
    color: white;
    background-color: #d7f9f1;
    font-weight: 600;
    border: none;
    color: #0db685;
    &:hover{
        color: #0db685;
        border-color: #536471 !important;
        background-color: #d8f8f2;
        box-shadow: 0 0 0 0.5px;
    }
}
.button-blue{
    // color: #0db685;
    background-color: #d7f9f1;
    // font-weight: 600 !important;
    border: none;
    &:hover{
        // background-color: #004182;
        border-color: #536471 !important;
        // border: 2px solid #536471;
        color: #0db685;
        box-shadow: 0 0 0 0.5px;
    }
}
.button-outline-blue{
    color: #0db685;
    background-color: white;
    // font-weight: 600 !important;
    border-color: #0db685 !important;
    border: 0.5px solid #0db685;
    &:hover{
        color: #0db685;
        border-color: #0db685 !important;
        background-color: #d8f8f2;
        // border: 2px solid #0db685;
        box-shadow: 0 0 0 0.5px;
    }
}
.button-grew{
    // color: #536471;
    // font-weight: 600 !important;
    border: none;
    background-color: #d8f8f2;
    color: #0db685;
    &:hover{
        color: #d8f8f2;
        // background-color: #ebebeb;
        border-color: #536471 !important;
        background-color: #0db685;
        // border: 2px solid #536471;
        box-shadow: 0 0 0 0.5px;
    }
}
.light-green-shawdo{
    // font-weight: 600 !important;
    border: none;
    // background-color: #d8f8f2;
    color: #536471;
    &:hover{
        color: #0db685;
        // border-color: #536471 !important;
        background-color: #d8f8f2;
        box-shadow: 0 0 0 0.5px;
    }
}

.btn{
    padding: 2px 12px;
}
.profile-side{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: none;
}
.profile-sides{
    width: 48px;
    height: 48px;
    border-radius: 10%;
    border: none;
    object-fit: cover;
}
.fix-bottom{
    position: fixed;
    background-color: #ffffff;
    z-index: 2;
    display: flex;
    width: 100%;
    bottom: 0;
}
.autocomplete-container{
    box-shadow: none !important;
  }
//   .autocomplete-container .input-container input{
//       height: 38px !important;
//       background-color:#eef3f8 !important;
//       padding: 0px !important;
//       border-radius: 0px 5px 5px 0px;
//   }
.autocomplete-container .input-container input{
    display: block !important;
    width: 100% !important;
    height: calc(1.5em + 0.75rem + 2px) !important;
    padding: 0.375rem 0.75rem !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    color: #495057 !important;
    background-color: #fff !important;
    background-clip: padding-box !important;
    border: 1px solid #ced4da !important;
    border-radius: 0.25rem !important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
  }
.search-profile{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.ng-autocomplete{
    width: 100% !important;
}
.fixed{
    position: fixed;
    // z-index: 1;
    top: 58px;
    background-color: white;
    box-shadow: 0px 1px 6px #00000038;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 92px;
    left: 0;
    padding-left: 26%;
}
.fixeddes{
    position: fixed;
    // z-index: 1;
    top: 90px;
    display: flex;
    flex-direction: row;
    width: 100%;
    left: 0;
    padding-left: 26%;
}
.fixeds{
    position: fixed;
    // z-index: 1;
    top: 105px;
    justify-content: start !important;
    padding-left: 26%;
    left: 0;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
.fix-profile{
    position: fixed;
    top: 70px;
    justify-content: left !important;
    z-index: 1;
    left: 19%;
    max-width: 60px !important;
    height: 60px !important;
}
.fix-camera{
    position: fixed !important;
    top: 70px;
    justify-content: left !important;
    z-index: 1;
    left: 18%;
    top: 136px;
}
.fix-edit{
    position: fixed !important;
    justify-content: left !important;
    z-index: 1;
    // left: 20px;
    left: 53%;
    top: 61px;
}
.fixedstab{
    position: fixed;
    top: 153px;
    margin-left: -9px;
}
.res-m-r{
    margin-right: 20px;
}
.post-profile{
    border-radius: 50%;
    width: 60px;
    height: 60px;
}
input:focus-visible {
    outline: unset;
}
textarea:focus-visible {
    outline: unset;
}
.modal-content{
    border: none;
}
.postcard-img{
    width: 506px;
    height: 526px;
    background-size: contain;
    background-repeat: no-repeat;
    object-fit: fill;
    object-position: center;
    background-position: 50%;
}
.header-mx{
    margin: 0px 20px 0px 20px;
}
.mb-5rem{
    margin-bottom: 5rem;
}

.d-margin{
    margin-right: 90px;
  }
#dropdownManualsecond{
    padding: 3px 12px;
}
.scrolltop{
    bottom: 60px;
    right: 130px;
    width: 50px;
    height: 47px;
    border-radius: 50%;
    position: fixed;
    background-color: #d7f9f1;
    justify-content: center;
    display: flex;
    z-index: 1;
    // border: 2px solid #06c07c;
    box-shadow: 0px 20px 53px -30px rgb(95 102 173 / 57%);
}
.scrolltop-home{
    bottom: 60px;
    right: 130px;
    border-radius: 50%;
    position: fixed;
    justify-content: center;
    display: flex;
    height: 47px !important;
}
.scrolltop-homes{
    bottom: 200px;
    right: 314px;
    border-radius: 50%;
    position: fixed;
    justify-content: center;
    display: flex;
    height: 47px !important;
}
.dropdown-item:focus, .dropdown-item:hover{
    text-decoration: none;
    background-color: #d7f9f1;
}
.dropdown-item.active, .dropdown-item:active{
    text-decoration: none;
    background-color: #d7f9f1;
}
.font-size-icon{
    font-size: 55px;
}

.overview-img {
    box-shadow: 0px 1px 6px #00000038;
    border: 30px solid #0db685;
    -webkit-border-radius: 227px 20px 227px 227px;
    img {
        box-shadow: 0px 1px 6px #00000038;
        position: relative;
        -webkit-border-radius: 200px 5px 200px 200px;
        -moz-border-radius: 200px 5px 200px 200px;
        -ms-border-radius: 200px 5px 200px 200px;
        -o-border-radius: 200px 5px 200px 200px;
        border-radius: 200px 5px 200px 200px;
        /* -webkit-transition: all 0.5s ease-out; */
        -moz-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
    }
}
.overview-img-rights {
    box-shadow: 0px 1px 6px #00000038;
    border: 30px solid #0db685;
    -webkit-border-radius: 20px 227px 227px 227px;
    img {
        box-shadow: 0px 1px 6px #00000038;
        position: relative;
        -webkit-border-radius: 5px 200px 200px 200px;
        -moz-border-radius: 5px 200px 200px 200px;
        -ms-border-radius: 5px 200px 200px 200px;
        -o-border-radius: 5px 200px 200px 200px;
        border-radius: 5px 200px 200px 200px;
        /* -webkit-transition: all 0.5s ease-out; */
        -moz-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
    }
}
.overview-img-right-shadow {
    // box-shadow: 0px 1px 6px #00000038;
    box-shadow: 0 0.1rem 1rem 0.25rem rgb(0 0 0 / 20%) !important;
    border: 30px solid #ffffff;
    -webkit-border-radius: 20px 227px 227px 227px;
    img {
        box-shadow: 0px 1px 6px #00000038;
        position: relative;
        -webkit-border-radius: 5px 200px 200px 200px;
        -moz-border-radius: 5px 200px 200px 200px;
        -ms-border-radius: 5px 200px 200px 200px;
        -o-border-radius: 5px 200px 200px 200px;
        border-radius: 5px 200px 200px 200px;
        /* -webkit-transition: all 0.5s ease-out; */
        -moz-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
    }
}
.overview-img-right {
    box-shadow: 0px 1px 6px #00000038;
    border: 30px solid #ffffff;
    -webkit-border-radius: 20px 227px 227px 227px;
    img {
        box-shadow: 0px 1px 6px #00000038;
        position: relative;
        -webkit-border-radius: 5px 200px 200px 200px;
        -moz-border-radius: 5px 200px 200px 200px;
        -ms-border-radius: 5px 200px 200px 200px;
        -o-border-radius: 5px 200px 200px 200px;
        border-radius: 5px 200px 200px 200px;
        /* -webkit-transition: all 0.5s ease-out; */
        -moz-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
    }
}
.overview-imgs{
    box-shadow: 0px 1px 6px #00000038;
    border: 30px solid #cceef2;
    -webkit-border-radius: 227px 20px 227px 227px;
    img {
        box-shadow: 0px 1px 6px #00000038;
        position: relative;
        -webkit-border-radius: 200px 5px 200px 200px;
        -moz-border-radius: 200px 5px 200px 200px;
        -ms-border-radius: 200px 5px 200px 200px;
        -o-border-radius: 200px 5px 200px 200px;
        border-radius: 200px 5px 200px 200px;
        /* -webkit-transition: all 0.5s ease-out; */
        -moz-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
    }
}
.video-h-w{
    width: 560px;
    height: 400px;
    // border-radius: 10%;
    border: none;
    box-shadow: 0px 1px 6px #00000038;
    border: 30px solid #cceef2;
    // -webkit-border-radius: 227px 20px 227px 227px;
}
.fix-tag{
    position: fixed;
    top: 58px;
    background-color: white;
    box-shadow: 0px 1px 6px #00000038;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 69px;
    left: 0;
    padding-left: 7%;
}
.fix-division{
    position: fixed;
    top: 55px;
    background-color: white;
    // box-shadow: 0px 1px 6px #00000038;
    // display: flex;
    flex-direction: row;
    width: 100%;
    height: 106px;
    left: 0;
    padding-left: 7%;
    padding-top: 7px;
}
.fix-role{
    position: fixed;
    top: 161px;
    background-color: white;
    box-shadow: 0px 5px 6px #00000038;
    // display: flex;
    flex-direction: row;
    width: 100%;
    height: 110px;
    padding-top: 5px;
    left: 0;
    padding-left: 7%;
}
.set-m-b{
    margin-bottom: 70px;
}
@media (min-width: 0px) and (max-width: 767px){
    .set-m-b{
        margin-bottom: 65px;
    }
    .fix-division{
        height: 70px;
        top: 53px;
       }
       .fix-role{
       top: 123px;
        height: 65px;
       }
    .box-card .icons-fixs {
        margin: 28% 0 0px -16% !important;
    }
    .star-tags{
        margin: -42px 0 29px 90% !important;
    }
    .fix-tag{
        top: 55px;
        height: 67px;
        padding-left: 4%;
        .filterPills{
            margin-right: 0px !important;
        }
    }
    .card-profile{
        .img{
            max-width: 90px !important;
            height: 90px !important;
            width: auto !important;
        }
      }
    .margin-remove{
        margin: 0!important;
    }
    .video-h-w{
        width: 285px;
        height: 285px;
    }
    .scrolltop{
        bottom: 82px;
        right: 20px;
    }
    .scrolltop-home{
        bottom: 82px;
        right: 20px;
        height: 47px !important;
    }
    .plr-respo{
        padding-left: 7px;
        padding-right: 0px;
    }
    .font-size-icon{
        font-size: 35px;
    }
    .lines {
    margin-left: 0px !important;
    .dots {
      width: 50px !important;
      height: 50px !important;
    }
    .lin {
      margin-left: 24px !important;
    }
  }
  .cards {
    margin-left: 18px !important;
    .card {
      width: 220px !important;
      height: 160px !important;
    }
  }
    .checkmark{
        margin-left: 58% !important;
        padding-left: 3px;
    }
    .lock-postion{
        margin-left: 75px !important;
        margin-top: -21px !important;
    }
    .lines {
        .lin {
            height: 120px !important;
        }
    }
    .padding-left{
        padding-left: 32px !important;
      }
    .font-18{
        font-size: 14px;
    }
    .circle{
        top: 0 !important;
    }
    #dropdownManualsecond{
        padding: 5px 4px;
    }
    .btn{
        padding: 2px 4px;
    }
    .emoji-mart{
        font-size: 14px !important;
        right: 35px;
        width: 240px !important;
        
    }
    .emoji-mart-search input{
        font-size: 14px !important;
    }
    .emoji-mart-title-label{
        font-size: 14px !important;
    }
    .emoji-mart-category .emoji-mart-emoji span{
        width: 16px !important;
        height: 16px !important;
    }
    .emoji-mart-emoji span{
        width: 25px !important;
        height: 25px !important;
    }
    .set-box{
        margin-top: 38px;
    }
    h4{
        font-size: 20px;
    }
    .font-20{
        font-size: 14px;
    }
    svg{
        width: 18px;
        height: 18px;
    }
    // .line{
    //     border-right: unset !important;
    // }
    .profiles{
        width: 100%;
        max-width: 80px !important;
        height: 80px !important;
    }
    .autocomplete-container .suggestions-container{
        right: 0;
        position: fixed !important;
    }
    .d-margin{
        margin-right: 15px;
      }
    .my-class .modal-content {
        position: absolute ;
        bottom: 0px ;
        border-radius: 8px 8px 0px 0px;
    }
    .my-class .modal-dialog {
        margin: 0px;
        position: unset;
    }
    .header-mx{
        margin: 0px 8px 0px 8px;
    }
    .postcard-img{
        width: 100%;
        height: auto;
    }
    .shawdo .flex-column{
        flex-direction: row !important;
        // justify-content: center;
        div{
            margin-left: 0px !important;
            margin-right: 15px !important;
        }
    }
    .image-logo{
        width: 100px;
        height: 100px;
    }
    .res-m-r{
        margin-right: 11px;
    }
    .fixeds{
        top: 110px;
        justify-content: left !important;
        padding-left: 27%;
        left: 0;
    }
    .fix-profile{
        position: fixed;
        top: 70px;
        justify-content: left !important;
        z-index: 1;
        left: 30px;
        max-width: 60px !important;
        height: 60px !important;
    }
    .fix-camera{
        position: fixed !important;
        top: 70px;
        justify-content: left !important;
        z-index: 1;
        left: 20px;
        top: 135px;
    }
    .fix-edit{
        position: fixed !important;
        top: 70px;
        justify-content: left !important;
        z-index: 1;
        left: unset;
        right: 20px;
        top: 61px;
    }
    .fixed{
        padding-left: 27%;
        height: 95px;
        padding-top: 8px;
    }
    .fixeddes{
        padding-left: 27%;
        top: 94px;
    }
    .font-24{
        font-size: 18px;
    }
    header > .logo{
        width: 78%;
    }
    .hide-small{
        display: none;
    }
    .font-14{
        font-size: 12px;
    }
    .profile{
        width: 100px;
        height: 100px;
        margin-top: -50px;
    }
    .height-fix {
        height: 100px;
    }
    .header-side-menu{
        .bd-highlight{
            margin-top: 10px;
            margin-bottom: 10px;
            .font-small{
                font-size: 14px !important;
            }
        }
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .box-card .icons-fixs {
        margin: 28% 0 0px -16% !important;
      }
    .set-m-b{
        margin-bottom: 65px;
    }
    .fix-division{
        height: 70px;
        top: 53px;
       }
       .fix-role{
       top: 123px;
        height: 65px;
       }
    .star-tags{
        margin: -42px 0 29px 84% !important;
    }
    .card-profile{
        .img{
            max-width: 90px !important;
            height: 90px !important;
            width: auto !important;
        }
      }
    .video-h-w{
        width: 270px;
        height: 270px;
    }
    .scrolltop{
        bottom: 82px;
        right: 20px;
    }
    .font-size-icon{
        font-size: 35px;
    }
    .lines {
        margin-left: 0px !important;
        .dots {
          width: 50px !important;
          height: 50px !important;
        }
      }
    .lock-postion{
        margin-left: 80px !important;
        margin-top: -21px !important;
    }
    .lines {
        .lin {
            height: 128px !important;
            margin-left: 24px !important;
        }
    }
    .padding-left{
        padding-left: 48px !important;
    }
    .font-18{
        font-size: 14px;
    }
    .circle{
        top: 0 !important;
    }
    #dropdownManualsecond{
        padding: 5px 4px;
    }
    .emoji-mart{
        font-size: 14px !important;
    }
    .emoji-mart-search input{
        font-size: 14px !important;
    }
    .emoji-mart-title-label{
        font-size: 14px !important;
    }
    .emoji-mart-category .emoji-mart-emoji span{
        width: 16px !important;
        height: 16px !important;
    }
    .emoji-mart-emoji span{
        width: 25px !important;
        height: 25px !important;
    }
    h4{
        font-size: 20px;
    }
    .font-20{
        font-size: 15px;
    }
    .profiles{
        width: 100%;
        max-width: 80px !important;
        height: 80px !important;
    }
    .d-margin{
        margin-right: 15px;
      }
    .my-class .modal-content {
        position: absolute ;
        bottom: 0px ;
        border-radius: 8px 8px 0px 0px;
    }
    .my-class .modal-dialog {
        margin: 0px;
        position: unset;
    }
    .header-mx{
        margin: 0px 8px 0px 8px;
    }
    .postcard-img{
        width: 100%;
        height: auto;
    }
    .shawdo .flex-column{
        flex-direction: row !important;
        div{
            margin-left: 0px !important;
        }
    }
    .image-logo{
        width: 100px;
        height: 100px;
    }
    .res-m-r{
        margin-right: 11px;
    }
    .fixeds{
        top: 105px;
        justify-content: start !important;
        padding-left: 20%;
        left: 0;
    }
    .fixed{
        padding-left: 20%;
        height: 95px;
    }
    .fixeddes{
        padding-left: 20%;
    }
    .fix-profile{
        position: fixed;
        top: 70px;
        justify-content: left !important;
        z-index: 1;
        left: 65px;
        max-width: 60px !important;
        height: 60px !important;
    }
    .fix-camera{
        position: fixed !important;
        top: 70px;
        justify-content: left !important;
        z-index: 1;
        left: 55px;
        top: 135px;
    }
    .fix-edit{
        position: fixed !important;
        top: 70px;
        justify-content: left !important;
        z-index: 1;
        left: 53%;
        top: 61px;
    }
    .font-24{
        font-size: 18px;
    }
     header > .logo{
        width: 88%;
    }
    .hide-small{
        display: none;
    }
    .font-14{
        font-size: 12px;
    }
    .profile{
        width: 100px;
        height: 100px;
        margin-top: -50px;
    }
    .height-fix {
        height: 100px;
    }
    .header-side-menu{
    .bd-highlight{
        margin-top: 10px;
        margin-bottom: 10px;
        .font-small{
            font-size: 18px !important;
        }
    }
}
}
@media (min-width: 992px) and (max-width: 1199px){
    .box-card .icons-fixs {
        margin: 33% 0 0px -18% !important;
      }
    .fix-division{
        height: 70px;
        top: 53px;
       }
       .fix-role{
       top: 123px;
        height: 65px;
       }
    .star-tags{
        margin: -42px 0 29px 84% !important;
    }
    .card-profile{
        .img{
            max-width: 90px !important;
            height: 90px !important;
            width: auto !important;
        }
      }
    .video-h-w{
        width: 522px;
        height: 522px;
    }
    .scrolltop{
        bottom: 82px;
        right: 20px;
        .w-h-fix{
            width: 45px !important;
            height: 46px !important;
        }
    }
    .font-size-icon{
        font-size: 35px;
    }
    .lines {
        margin-left: 0px !important;
        .dots {
          width: 50px !important;
          height: 50px !important;
        }
        .lin {
          margin-left: 24px !important;
        }
      }
      .cards {
        margin-left: 18px !important;
        .card {
          width: 250px !important;
          height: 160px !important;
        }
      }
    .checkmark{
        margin-left: 70px !important;
    }
    .lock-postion{
        margin-left: 117px !important;
        margin-top: -25px !important;
    }
    .lines {
        .lin {
            height: 110px !important;
        }
    }
    .padding-left{
        padding-left: 43px !important;
    }
    .bd-highlight i{
        font-size: 20px !important;
    }
    svg {
        width: 20px !important;
        height: 20px !important;
      }
      #dropdownManualsecond{
        padding: 5px 4px;
    }
    .font-14{
        font-size: 11px;
    }
    .fix-edit{
        left: 43%;
        }
    .font-20{
        font-size: 18px;
    }
    .d-margin{
        margin-right: 15px;
      }
    .header-mx{
        margin: 0px 8px 0px 8px;
    }
    .postcard-img{
        width: 100%;
        height: auto;
    }
    .font-24{
        font-size: 22px;
    }
     header > .logo{
        width: 21%;
    }
    .hide-big{
        display: none !important;
    }
   .header-side-menu{
       display: flex;align-items: center;
   }
   .fix-profile{
    left: 21%;
    }
    .fix-camera{
        left: 20%;
    }
    .fix-edit{
        left: 58%;
    }
    .fixed{
        padding-left: 28%;
    }
    .fixeddes{
        padding-left: 28%;
    }
    .fixeds{
        padding-left: 28%;
    }
}
@media (min-width: 1200px) {
    .set-header-m{
        margin-bottom: 0px !important;
    }
    .header-mx{
        margin: 0px 8px 0px 8px;
    }
    // header > .logo{
    //     width: 37%;
    // }
    .header-side-menu{
        display: flex;align-items: center;
    }
    .hide-big{
        display: none !important;
    }
}
.set-header-m{
    margin-top: 58px;
    margin-bottom: 75px;
}

@media (min-width: 1115px) and (max-width: 1199px){
     header > .logo{
        width: 29% !important;
    }
}
@media (min-width: 1200px) and (max-width: 1300px){
    .d-margin{
        margin-right: 20px;
      }
     header > .logo{
        width: 33% !important;
    }
}
@media (min-width: 1301px) and (max-width: 1500px){
    .d-margin{
        margin-right: 20px;
      }
     header > .logo{
        width: 38% !important;
    }
}
@media (min-width: 1500px) and (max-width: 1600px){
     header > .logo{
        width: 47% !important;
    }
}
@media (min-width: 1600px) and (max-width: 1700px){
     header > .logo{
        width: 50% !important;
    }
}
@media (min-width: 1700px) and (max-width: 1800px){
     header > .logo{
        width: 54% !important;
    }
}
@media (min-width: 1800px) {
    header > .logo{
        width: 57% !important;
    }
}
@media only screen and (max-width: 1200px) {
    .filterPill{
      white-space:nowrap; 
      overflow-x:scroll;
    }
}
@media (min-width: 1350px) {
    .fix-profile{
        left: 28%;
    }
    .fix-camera{
        left: 27%;
    }
    .fix-edit{
        left: 65%;
    }
    .fixed{
        padding-left: 33%;
    }
    .fixeddes{
        padding-left: 33%;
    }
    .fixeds{
        padding-left: 33%;
    }
}
.filterPill .button-color {
    margin-bottom: 10px;
    border-radius: 20px;
    margin-right: 10px;
    background-color: #f6faff;
    border-color: #71c1bd !important;
    border: none;
    &:hover{
        border-color: #71c1bd !important;
        background-color: #71c1bd;
        // border: 0.5px solid #0db685;
        color: #ffffff;
    }
}
.filterPill .active{
    // color: #ffffff;
    // background-color: #0db685;
    background-color: #71c1bd;
    border-color: #71c1bd ;
    // border: 0.5px solid #0db685;
}
.remove-m{
    .border-radius{
      margin-bottom: 0px !important;
    }
  }
  .card-profile{
    border-radius: 8px;
    box-shadow: 0px 20px 53px -30px rgb(95 102 173 / 57%);
    background-color: #fff!important;
    .img{
        width: 100%;
        max-width: 100px;
        height: 100px;
        object-fit: cover;
    }
  }
  .star-tag{
      position: absolute;
      right: 30px;
      top: 0px;
        padding: 5px 10px;
        min-width: 36px;
        min-height: 36px;
        border-bottom-right-radius: 0.42rem;
        border-bottom-left-radius: 0.42rem;
        text-align: center;
        background-color: #1BC5BD !important;
  }
  .star-tags{
    width: 35px;
    background-color: #3699FF!important;
    margin: -50px 0 29px 90%;
    padding: 5px 10px;
    min-width: 36px;
    min-height: 36px;
    border-bottom-right-radius: 0.42rem;
    border-bottom-left-radius: 0.42rem;
    text-align: center;
  }

  
  .select-green{
    background: #d7f9f1;
    border-radius: 30% 0% 50% 0%;
    height: 100px;
    width: 100px;
  }
  .select-green:hover{
    box-shadow: 0 0.1rem 1rem 0.25rem rgb(13 182 133) !important;
    cursor: pointer;
  }
   .active-select-green{
    box-shadow: 0 0.1rem 1rem 0.25rem rgb(13 182 133) !important;
    cursor: pointer;
  }
  
   .select-blue{
    background: #a7ddf5;
    border-radius: 30% 0% 50% 0%;
    height: 100px;
    width: 100px;
  }
  .select-blue:hover{
    box-shadow: 0 0.1rem 1rem 0.25rem rgb(54 153 255) !important;
    cursor: pointer;
  }
  .active-select-blue{
    box-shadow: 0 0.1rem 1rem 0.25rem rgb(54 153 255) !important;
  }
   .select-red{
    background: #FFE2E5;
    border-radius: 30% 0% 50% 0%;
    height: 100px;
    width: 100px;
  }
    .select-red:hover{
      box-shadow: 0 0.1rem 1rem 0.25rem rgb(246 78 96) !important;
    cursor: pointer;
  }
  .active-select-red{
      box-shadow: 0 0.1rem 1rem 0.25rem rgb(246 78 96) !important;
  }
   .select-yellow{
    background: #FFF4DE;
    border-radius: 30% 0% 50% 0%;
    height: 100px;
    width: 100px;
  }
    .select-yellow:hover{
      box-shadow: 0 0.1rem 1rem 0.25rem rgb(255 168 0) !important;
    cursor: pointer;
  }
  .active-select-yellow{
      box-shadow: 0 0.1rem 1rem 0.25rem rgb(255 168 0) !important;
  }
   .select-black{
    background: #D1D3E0;
    border-radius: 30% 0% 50% 0%;
    height: 100px;
    width: 100px;
  }
    .select-black:hover{
      box-shadow: 0 0.1rem 1rem 0.25rem rgb(24 28 50) !important;
    cursor: pointer;
  }
  .active-select-black{
      box-shadow: 0 0.1rem 1rem 0.25rem rgb(24 28 50) !important;
  }
  .set-pos{
    position: inherit;
  }
//   .white-box{
//     height: 400px;
//     background-color: white;
//     // border-radius: 17px;
//   }
  .img-white{
      width: 350px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0px 1px 6px #00000038;
  }
