<article>
  <section>
    <div class="bg-white">
      <!-- <div class="row">
        <div class="col-sm-6">
          <div class="banner-caption">
            <div class="col-md-12 col-sm-12 px-2 mt-3 banner-text">
              <h5>GoPolitix is a place to Explore, Connect, Engage with Political, Government and many Local Communities that matters to you.</h5>
            </div>
          </div>
        </div>
    
        <div class="banner col-sm-6">
          <div class="bannersearch">
            <app-searchlegislators [registration]=true></app-searchlegislators>
          </div>
        </div>
      
      </div> -->
      <section class="my-4">
        <div class="bg-imge-search" style="background: #d7f9f1;">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-6 order-sm-1 order-1">
              <div class="">
                <!-- <span class="type my-3"><span class="text-green">Go<span class="text-dark">Politix</span></span></span> -->
                <section>
                  <div class="content">
                    <h2>GoPolitix</h2>
                    <h2>GoPolitix</h2>
                  </div>

                </section>
                
  <!-- <body> 
    <div class="sign">
      <span class="fast-flicker">G</span>o<span class="flicker">P</span>olitix
    </div>
    -->
  <!-- </body> -->

              </div>
              <h5 class="font-weight-normal">GoPolitix is a place to Explore, Connect, Engage with Political, Government and many Local Communities that matters to you.</h5>
              <app-searchlegislators [registration]=true></app-searchlegislators>
            </div>
            <div class="col-md-6 order-sm-2 order-2" style="position: inherit;">
              <div class="">
                <img src="../../assets/images/geolocation.png" class="img-fluid">
                
              </div>
            </div>
          </div>
        </div>
        </div>
      </section>
      <!--
      <section class="my-4">
        <div class="bg-imge-search">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-6 order-sm-1 order-1">
              <div class="">
          
                <section>
                  <div class="content">
                    <h2>GoPolitix</h2>
                    <h2>GoPolitix</h2>
                  </div>
                </section>
              </div>
              <h3 class="font-weight-normal">GoPolitix is a place to Explore, Connect, Engage with Political, Government and many Local Communities that matters to you.</h3>
              <app-searchlegislators [registration]=true></app-searchlegislators>
            </div>
            <div class="col-md-6 order-sm-2 order-2">
              <div class="">
                <img src="../../assets/images/geolocation.png" class="img-fluid">
                
              </div>
            </div>
          </div>
        </div>
        </div>
      </section>
    -->
      <section class="my-4">
        <div>
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-6 order-sm-1 order-2">
              <div class="overview-img-right overview-imgs">
                <img src="../../assets/images/hr-management.png" class="img-fluid">
              </div>
            </div>
            <div class="col-md-6 order-sm-2 order-1 text-center">
              <h4 class="font-weight-normal">Get informed about your Legislative and Government representatives.</h4>
            </div>
          </div>
          </div>
        </div>
      </section>
      <section class="my-4">
        <div>
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-6 order-sm-2 order-2">
              <div class="overview-imgs">
                <img src="../../assets/images/profit-and-loss.png" class="img-fluid">
              </div>
            </div>
            <div class="col-md-6 order-sm-1 order-1 text-center">
              <h4 class="font-weight-normal my-3">Talk about government Bills that are relevant to you.</h4>
            </div>
          </div>
          </div>
        </div>
      </section>

     
      <section class="my-4">
        <div>
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-6 order-sm-2 order-2">
              <div class="overview-imgs">
                <img src="../../assets/images/feedback.png" class="img-fluid">
              </div>
            </div>
            <div class="col-md-6 order-sm-1 order-1 text-center">
              <h4 class="font-weight-normal my-3">Create pages, Invite people, Reach the world.</h4>
            </div>
          </div>
          </div>
        </div>
      </section>
      <section class="my-4">
        <div>
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-6 order-sm-1 order-2">
              <div class="overview-img-right overview-imgs">
                <img src="../../assets/images/startap.png" class="img-fluid">
              </div>
            </div>
            <div class="col-md-6 order-sm-2 order-1 text-center">
              <h4 class="font-weight-normal my-3">Add your favorites to the Circle.</h4>
            </div>
          </div>
          </div>
        </div>
      </section>

      <section class="my-4">
        <div>
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-6 order-sm-1 order-1 text-center">
              <h4 class="font-weight-normal my-3">Post, Comment and Get informed on your interest.</h4>
            </div>
            <div class="col-md-6 order-sm-2 order-2">
              <div class="overview-imgs">
                <img src="../../assets/images/statistics.png" class="img-fluid">
              </div>
            </div>
          </div>
          </div>
        </div>
      </section>

    </div>

    <div>
      <section class="my-4">
        <div>
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-6 order-sm-2 order-1 text-center">
              <h4 class="font-weight-normal my-3">Video</h4>
            </div>
            <div class="col-md-6 order-sm-1 order-2">
              <div class="my-3 text-center video-border">
                <iframe class="video-h-w"
                src="https://www.youtube.com/embed/tgbNymZ7vqY">
                </iframe>
              </div>
            </div>
          </div>
        </div>
        </div>
      </section>
    </div>  
    <!-- second 

    <div class="bg-white">
      <section class="my-4">
        <div>
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-6 order-sm-1 order-2">
              <div class="overview-img-rights">
                <img src="../../assets/images/hr-management.png" class="img-fluid">
              </div>
            </div>
            <div class="col-md-6 order-sm-2 order-1 text-center">
              <h4 class="font-weight-normal">Get informed about your Legislative and Government representatives.</h4>
            </div>
          </div>
          </div>
        </div>
      </section>
      <section class="my-4">
        <div>
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-6 order-sm-2 order-2">
              <div class="overview-img">
                <img src="../../assets/images/profit-and-loss.png" class="img-fluid">
              </div>
            </div>
            <div class="col-md-6 order-sm-1 order-1 text-center">
              <h4 class="font-weight-normal my-3">Talk about government Bills that are relevant to you.</h4>
            </div>
          </div>
          </div>
        </div>
      </section>
      <section class="my-4">
        <div>
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-6 order-sm-2 order-1 text-center">
              <h4 class="font-weight-normal my-3">Video</h4>
            </div>
            <div class="col-md-6 order-sm-1 order-2">
              <div class="overview-img my-3">
                <img src="../../assets/images/image.png" class="img-fluid">
              </div>
            </div>
          </div>
        </div>
        </div>
      </section>
     
      <section class="my-4">
        <div>
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-6 order-sm-2 order-2">
              <div class="overview-img">
                <img src="../../assets/images/feedback.png" class="img-fluid">
              </div>
            </div>
            <div class="col-md-6 order-sm-1 order-1 text-center">
              <h4 class="font-weight-normal my-3">Create pages, Invite people, Reach the world.</h4>
            </div>
          </div>
          </div>
        </div>
      </section>
      <section class="my-4">
        <div>
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-6 order-sm-1 order-2">
              <div class="overview-img-rights">
                <img src="../../assets/images/startap.png" class="img-fluid">
              </div>
            </div>
            <div class="col-md-6 order-sm-2 order-1 text-center">
              <h4 class="font-weight-normal my-3">Add your favorites to the Circle.</h4>
            </div>
          </div>
          </div>
        </div>
      </section>

      <section class="mt-4">
        <div>
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-6 order-sm-1 order-1 text-center">
              <h4 class="font-weight-normal my-3">Post, Comment and Get informed on your interest.</h4>
            </div>
            <div class="col-md-6 order-sm-2 order-2">
              <div class="overview-img">
                <img src="../../assets/images/statistics.png" class="img-fluid">
              </div>
            </div>
          </div>
          </div>
        </div>
      </section>

    </div>
  -->
    <!-- third 

    <div class="bg-white">
      <section class="my-4">
        <div>
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-6 order-sm-1 order-2">
              <div class="overview-img-right overview-img-green active-select-green">
                <img src="../../assets/images/hr-management.png" class="img-fluid">
              </div>
            </div>
            <div class="col-md-6 order-sm-2 order-1 text-center">
              <h4 class="font-weight-normal">Get informed about your Legislative and Government representatives.</h4>
            </div>
          </div>
          </div>
        </div>
      </section>
      <section class="my-4">
        <div>
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-6 order-sm-2 order-2">
              <div class="overview-img-blue active-select-blue ">
                <img src="../../assets/images/profit-and-loss.png" class="img-fluid">
              </div>
            </div>
            <div class="col-md-6 order-sm-1 order-1 text-center">
              <h4 class="font-weight-normal my-3">Talk about government Bills that are relevant to you.</h4>
            </div>
          </div>
          </div>
        </div>
      </section>
      <section class="my-4">
        <div>
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-6 order-sm-2 order-1 text-center">
              <h4 class="font-weight-normal my-3">Video</h4>
            </div>
            <div class="col-md-6 order-sm-1 order-2">
              <div class="overview-img-red active-select-red my-3">
                <img src="../../assets/images/image.png" class="img-fluid">
              </div>
            </div>
          </div>
        </div>
        </div>
      </section>
     
      <section class="my-4">
        <div>
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-6 order-sm-2 order-2">
              <div class="overview-img-yellow active-select-yellow">
                <img src="../../assets/images/feedback.png" class="img-fluid">
              </div>
            </div>
            <div class="col-md-6 order-sm-1 order-1 text-center">
              <h4 class="font-weight-normal my-3">Create pages, Invite people, Reach the world.</h4>
            </div>
          </div>
          </div>
        </div>
      </section>
      <section class="my-4">
        <div>
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-6 order-sm-1 order-2">
              <div class="overview-img-right overview-img-green active-select-green">
                <img src="../../assets/images/startap.png" class="img-fluid">
              </div>
            </div>
            <div class="col-md-6 order-sm-2 order-1 text-center">
              <h4 class="font-weight-normal my-3">Add your favorites to the Circle.</h4>
            </div>
          </div>
          </div>
        </div>
      </section>

      <section class="mt-4">
        <div>
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-6 order-sm-1 order-1 text-center">
              <h4 class="font-weight-normal my-3">Post, Comment and Get informed on your interest.</h4>
            </div>
            <div class="col-md-6 order-sm-2 order-2 mb-4">
              <div class="overview-img-black active-select-black">
                <img src="../../assets/images/statistics.png" class="img-fluid">
              </div>
            </div>
          </div>
          </div>
        </div>
      </section>

    </div>
  -->


  </section>
</article>


      
      <!-- <section class="my-4">
        <div class="bg-white">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-md-4 my-4">
                <div class="d-flex flex-column bd-highlight">
                  <div class="bd-highlight mx-auto round">
                    <img src="../../assets/images/hr-management.png" >
                  </div>
                  <div class="bd-highlight mx-auto text-center">
                    <h4 class="my-3">Get informed about your Legislative and Government representatives.</h4>
                  </div>
                </div>
              </div>
              <div class="col-md-4 my-4">
                <div class="d-flex flex-column bd-highlight">
                  <div class="bd-highlight mx-auto round">
                    <img src="../../assets/images/profit-and-loss.png" >
                  </div>
                  <div class="bd-highlight mx-auto text-center">
                    <h4 class="my-3">Talk about government Bills that are relevant to you.</h4>
                  </div>
                </div>
              </div>
              <div class="col-md-4 my-4">
                <div class="d-flex flex-column bd-highlight">
                  <div class="bd-highlight mx-auto round">
                    <img src="../../assets/images/image.png" >
                  </div>
                  <div class="bd-highlight mx-auto text-center">
                    <h4 class="my-3">Video</h4>
                  </div>
                </div>
              </div>
              <div class="col-md-4 my-4">
                <div class="d-flex flex-column bd-highlight">
                  <div class="bd-highlight mx-auto round">
                    <img src="../../assets/images/feedback.png" >
                  </div>
                  <div class="bd-highlight mx-auto text-center">
                    <h4 class="my-3">Create pages, Invite people, Reach the world.</h4>
                  </div>
                </div>
              </div>
              <div class="col-md-4 my-4">
                <div class="d-flex flex-column bd-highlight">
                  <div class="bd-highlight mx-auto round">
                    <img src="../../assets/images/startap.png" >
                  </div>
                  <div class="bd-highlight mx-auto text-center">
                    <h4 class="my-3">Add your favorites to the Circle.</h4>
                  </div>
                </div>
              </div>
              <div class="col-md-4 my-4">
                <div class="d-flex flex-column bd-highlight">
                  <div class="bd-highlight mx-auto round">
                    <img src="../../assets/images/statistics.png" >
                  </div>
                  <div class="bd-highlight mx-auto text-center">
                    <h4 class="my-3">Post, Comment and Get informed on your interest.</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>


      <section class="my-4">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-6 order-sm-1 order-2 text-center">
              <img src="../../assets/images/statistics.png" class="img-white">
            </div>
            <div class="col-md-6 order-sm-2 order-1">
              <div class="">
                <h4 class="my-3">Post, Comment and Get informed on your interest.</h4>
                

              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="my-4">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-6 order-sm-1 order-2 ">
              <div class="">
                <h4 class="my-3">Post, Comment and Get informed on your interest.</h4>
              </div>
            </div>
            <div class="col-md-6 order-sm-2 order-1 text-center">
              <img src="../../assets/images/statistics.png" class="img-white">
            </div>
          </div>
        </div>
      </section> -->
        
      
      
      
      <!-- <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="category-box" data-aos="fade-up">
                    <div class="category-desc">
                        <div class="category-icon"><i class="fa fa-rss" aria-hidden="true"></i><i class="fa fa-link abs-icon" aria-hidden="true"></i></div>
                        <div class="category-detail category-desc-text">

                      
                        <h6>Get informed about your Legislative and Government representatives.</h6>
                      
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-mds-6 col-sm-6">
              <div class="category-box" data-aos="fade-up">
                  <div class="category-desc">
                      <div class="category-icon"><i class="fa fa-file" aria-hidden="true"></i><i class="fa fa-file abs-icon" aria-hidden="true"></i></div>
                      <div class="category-detail category-desc-text">
                          <h6>Talk about government Bills that are relevant to you.</h6>
                      </div>
                  </div>
              </div>
          </div>
            <div class="col-md-6 col-sm-6">
                <div class="category-box" data-aos="fade-up">
                    <div class="category-desc">
                        <div class="category-icon"><i class="fa fa-comments" aria-hidden="true"></i><i class="fa fa-comments-o abs-icon" aria-hidden="true"></i></div>
                        <div class="category-detail category-desc-text">
                            <h6>Post, Comment and Get informed on your interest.</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="category-box" data-aos="fade-up">
                    <div class="category-desc">
                        <div class="category-icon"><i class="fa fa-newspaper-o" aria-hidden="true"></i><i class="fa fa-newspaper-o abs-icon" aria-hidden="true"></i></div>
                        <div class="category-detail category-desc-text">
                            <h6>Create pages, Invite people, Reach the world.</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="category-box" data-aos="fade-up">
                    <div class="category-desc">
                        <div class="category-icon"><i class="fa fa-users" aria-hidden="true"></i><i class="fa fa-users abs-icon" aria-hidden="true"></i></div>
                        <div class="category-detail category-desc-text">
                            <h6>Add your favorites to the Circle.</h6>
                        </div>
                    </div>
                </div>
            </div>
            
        </div> -->


<!-- ============================ Footer Start ================================== -->
<footer class="dark-footer skin-dark-footer mt-2">
  <div class="footer-bottom">
    <div class="container">
      <div class="row align-items-center">
        
        <div class="col-sm-3">
          <p class="mb-0">© 2022 GoPolitix. All Rights Reserved</p>
        </div>
        <div class="col-sm-3">
          <a href="/privacy">Privacy Policy</a>
        </div>
        <div class="col-sm-3">
          <a href="/terms">Terms</a>
        </div>
        <div class="col-sm-3">
          <a href="https://www.linkedin.com/company/gopolitix/"><i class="ti ti-linkedin"></i></a>

        </div>
        
      </div>
    </div>
  </div>
</footer>


<div class="wrap scrolltop-home pointer" [routerLink]="['/register']" routerLinkActive="active">
  <!-- <button class="button font-20">Join the community</button> -->
  <a class="buttons">Join the community</a>

</div>

<!-- <div class="wrap scrolltop-homes pointer" [routerLink]="['/register']" routerLinkActive="active">

    <button class="btns">
      <svg viewBox="0 0 180 44" class="border">
        <polyline points="179,1 179,59 1,59 1,1 179,1" class="bg-line" />
        <polyline points="179,1 179,59 1,59 1,1 179,1" class="hl-line" />
      </svg>
      <span>Join the community</span>
    </button>
</div> -->
  
