<article>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="banner-caption">
            <div class="col-md-12 col-sm-12 px-2 mt-3 banner-text">
              <h5>GoPolitix is a place to Explore, Connect, Engage with Political, Government and many Local Communities that matters to you.</h5>
            </div>
          </div>
        </div>
    
        <div class="banner col-sm-6">
          <div class="bannersearch">
            <app-searchlegislators [registration]=true></app-searchlegislators>
          </div>
        </div>
      
      </div>

        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="category-box" data-aos="fade-up">
                    <div class="category-desc">
                        <div class="category-icon"><i class="fa fa-rss" aria-hidden="true"></i><i class="fa fa-link abs-icon" aria-hidden="true"></i></div>
                        <div class="category-detail category-desc-text">

                      
                        <h6>Get informed about your Legislative and Government representatives.</h6>
                      
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-mds-6 col-sm-6">
              <div class="category-box" data-aos="fade-up">
                  <div class="category-desc">
                      <div class="category-icon"><i class="fa fa-file" aria-hidden="true"></i><i class="fa fa-file abs-icon" aria-hidden="true"></i></div>
                      <div class="category-detail category-desc-text">
                          <h6>Talk about government Bills that are relevant to you.</h6>
                      </div>
                  </div>
              </div>
          </div>
            <div class="col-md-6 col-sm-6">
                <div class="category-box" data-aos="fade-up">
                    <div class="category-desc">
                        <div class="category-icon"><i class="fa fa-comments" aria-hidden="true"></i><i class="fa fa-comments-o abs-icon" aria-hidden="true"></i></div>
                        <div class="category-detail category-desc-text">
                            <h6>Post, Comment and Get informed on your interest.</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="category-box" data-aos="fade-up">
                    <div class="category-desc">
                        <div class="category-icon"><i class="fa fa-newspaper-o" aria-hidden="true"></i><i class="fa fa-newspaper-o abs-icon" aria-hidden="true"></i></div>
                        <div class="category-detail category-desc-text">
                            <h6>Create pages, Invite people, Reach the world.</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="category-box" data-aos="fade-up">
                    <div class="category-desc">
                        <div class="category-icon"><i class="fa fa-users" aria-hidden="true"></i><i class="fa fa-users abs-icon" aria-hidden="true"></i></div>
                        <div class="category-detail category-desc-text">
                            <h6>Add your favorites to the Circle.</h6>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
  </section>
</article>

<!-- ============================ Footer Start ================================== -->
<footer class="dark-footer skin-dark-footer mb-5">
  <div class="footer-bottom">
    <div class="container">
      <div class="row align-items-center">
        
        <div class="col-sm-3">
          <p class="mb-0">© 2022 GoPolitix. All Rights Reserved</p>
        </div>
        <div class="col-sm-3">
          <a href="/privacy">Privacy Policy</a>
        </div>
        <div class="col-sm-3">
          <a href="/terms">Terms</a>
        </div>
        <div class="col-sm-3">
          <a href="https://www.linkedin.com/company/gopolitix/"><i class="ti ti-linkedin"></i></a>

        </div>
        
      </div>
    </div>
  </div>
</footer>
  
