.bannersearch{
  padding-top: 125px;
  height: auto;
}

.content {
  // position: relative;
}

.content h2 {
  color: #fff;
  font-size: 5em;
  // position: fixed;
  // transform: translate(-50%, -50%);
}
.overview-img-black{
  border: 30px solid #000000;
  -webkit-border-radius: 227px 20px 227px 227px;
}
.overview-img-green{
  border: 30px solid rgb(13 182 133);
  -webkit-border-radius: 227px 20px 227px 227px;
  img{
        border-radius: 200px 200px 200px 200px;
  }
}
.overview-img-blue{
  border: 30px solid rgb(54 153 255);
  -webkit-border-radius: 227px 20px 227px 227px;
  img{
        border-radius: 200px 200px 200px 200px;
  }
}
.overview-img-red{
  border: 30px solid rgb(246 78 96);
  -webkit-border-radius: 227px 20px 227px 227px;
  img{
        border-radius: 200px 200px 200px 200px;
  }
}
.overview-img-yellow{
  border: 30px solid rgb(255 168 0);
  -webkit-border-radius: 227px 20px 227px 227px;
  img{
        border-radius: 200px 200px 200px 200px;
  }
}
.content h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #0db685;
  position: absolute;
}

.content h2:nth-child(2) {
  color: #0db685;
  animation: animate 4s ease-in-out infinite;
  position: inherit;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}
.line-1{
  position: relative;
  top: 50%;  
  width: 24em;
  margin: 0 auto;
  border-right: 2px solid rgba(255,255,255,.75);
  font-size: 180%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
animation: typewriter 4s steps(44) 1s 1 normal both,
           blinkTextCursor 500ms steps(44) infinite normal;
}
// @keyframes typewriter{
// from{width: 0;}
// to{width: 24em;}
// }
// @keyframes blinkTextCursor{
// from{border-right-color: rgba(255,255,255,.75);}
// to{border-right-color: transparent;}
// }
.type {
  display:inline-flex;
}

.type span {
  word-break: break-all;
  height: 1.2em;
  width:0%;
  font-size: 50px;
  overflow: hidden;
  animation:t 4s linear infinite alternate;
}
.type span:before {
  content:" ";
  display:inline-block;
}

@keyframes t{
  90%,100% {width:100%}
}
.round{
  // border-radius: 50%;
  width: 50%;
  border: 5px solid #00d7ad;
  -webkit-border-radius: 70px 70px 70px 70px;
  box-shadow: 0px 1px 6px #00000038;
    img {
      width: 100%;
        box-shadow: 0px 1px 6px #00000038;
        position: relative;
        -webkit-border-radius: 70px 70px 70px 70px;
        -moz-border-radius: 70px 70px 70px 70px;
        -ms-border-radius: 70px 70px 70px 70px;
        -o-border-radius: 70px 70px 70px 70px;
        border-radius: 70px 70px 70px 70px;
        /* -webkit-transition: all 0.5s ease-out; */
        -moz-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
    }
}

// $slider-name: typing-slider;
// $slides: 20;
// $typing-duration: 5s;
// $tab-letters: 16; //number of characters in each paragraph
// $slider-font-size: 4rem;
// $background: #fff;
// @keyframes cursor {
//   from, to { border-color: transparent; }
//   50% { border-color: black; }
// }

// @keyframes typing {
//   from { width: 100%; }
//   90%, to { width: 0; }
// }

// @keyframes slide {
//   #{100% / $slides} { font-size: $slider-font-size; letter-spacing: 3px; }
//   to { font-size: 0; letter-spacing: 0; }
// }

// .#{$slider-name} {
//   font-family: Consolas, monospace;
//   font-weight: bold;
//   text-align: center;
//   white-space: nowrap;
// }

// .#{$slider-name} p {
//   position: relative;
//   display: inline;
//   font-size: 0;
//   text-transform: uppercase;
//   letter-spacing: 0;
//   animation: slide $typing-duration * $slides step-start infinite;
// }

// .#{$slider-name} p::after {
//   content: "";
//   position: absolute;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   border-left: 3px solid black;
//   background-color: $background;
//   animation: typing $typing-duration infinite,
//              cursor 1s infinite;
// }

// @each $letters in $tab-letters {
//   $i: index($tab-letters, $letters);
//   .#{$slider-name} p:nth-child(#{$i}) {
//     animation-delay:  $typing-duration * ($i - 1);
//     &::after {
//       animation-delay: $typing-duration * ($i - 1);
//       animation-timing-function: steps(#{$letters}), step-end;
//     }
//   }
// }
.bg-imge-search{
  // background-image: url("/assets/images/network6.png");
  // background: linear-gradient(to bottom left, #fff 0%, #fff 50%, #c9f7f5 50%, #c9f7f5 100%);

}
.footer-widget ul {
padding: 0;
margin: 0
}

.footer-widget ul li {
list-style: none;
margin-top: 15px;
display: block
}

.footer-widget ul li a {
color: #626a70
}

footer.skin-dark-footer h4 {
color: #fff
}

footer.skin-dark-footer .footer-widget ul li a,
footer.skin-dark-footer,
footer.skin-dark-footer a {
  background-color: #fff;
color: #0db685;
transition: all ease .4s;
font-size: 14px
}

footer.skin-dark-footer .footer-widget ul li a:hover,
footer.skin-dark-footer .footer-widget ul li a:focus {
color: #fff
}

.widget_media_image {
margin-top: 3rem
}

.footer-bottom {
padding: 20px 0;
border-top: 1px solid #e9edf3
}

.skin-dark-footer .footer-bottom {
//background: #d1e2f3;
//background: #a6ebd7;
border-top: none;
}

ul.footer-bottom-social {
margin: 0;
padding: 0
}

ul.footer-bottom-social li {
display: inline-block;
list-style: none;
margin-right: 17px;
margin-top: 0
}

ul.footer-bottom-social li a {
color: #546e7a
}

ul.footer-bottom-social li a:hover,
ul.footer-bottom-social li a:focus {
color: #007bff
}

ul.footer-bottom-social li i {
margin-right: 5px
}

footer.skin-dark-footer ul.footer-bottom-social li a {
color: #858b9f;
font-size: 14px
}

footer.skin-dark-footer ul.footer-bottom-social li a:hover,
footer.skin-dark-footer ul.footer-bottom-social li a:focus {
color: #fff;
opacity: 1
}


.category-box {
  position: relative;
  height: 210px;
  background: #fff;
  box-shadow: 0 5px 25px 0 rgba(41, 128, 185, 0.15);
  -webkit-box-shadow: 0 5px 25px 0 rgba(41, 128, 185, 0.15);
  border-radius: 5px;
  text-align: center;
  /* padding: 50px 12px 30px; */
  box-sizing: border-box;
  margin-top: 30px;
  overflow: hidden;
  transition: .6s linear;
}

.category-box .category-desc {
  z-index: 2;
}
.category-box .category-desc .category-icon {
  font-size: 40px;
  color: #0db685;
  margin-bottom: 10px;
  transition: .6s cubic-bezier(0.45, 0.01, 0.1, 1.49);
}

.category-box .category-desc i.abs-icon {
  position: absolute;
  bottom: 5px;
  left: 5px;
  opacity: 0;
  transition: all ease-in .4s;
  color: #eff1f3;
}

.category-box:hover i.abs-icon {
  position: absolute;
  bottom: 25px;
  left: 25px;
  opacity: 1;
  color: #000000;
}

.category-box .category-desc .category-detail p {
  margin-bottom: 5px;
}

@media screen and (max-width: 980px){
.category-box {
    border: 1px solid #eaeaea;
    padding: 40px;
}
}





.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  // min-width: 300px;
  // min-height: 60px;
  font-family: 'Nunito', sans-serif;
  // font-size: 22px;
  // text-transform: uppercase;
  letter-spacing: 1.3px;
  // font-weight: 700;
  color: #313133;
  background: #d7f9f1;
  border: none;
  border-radius: 1000px;
  // box-shadow: 0 0 10px #d7f9f1;
  box-shadow: 0px 1px 6px #00000038;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  }

button::before {
content: '';
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #0db685;
  box-shadow: 0 0 60px rgba(0,255,203,.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.button:hover, .button:focus {
  color: #313133;
  transform: translateY(-6px);
}

button:hover::before, button:focus::before {
  opacity: 1;
}

button::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 6px solid #0db685;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

button:hover::after, button:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}
